﻿
@{
    ViewBag.Title = "Confirm Information";
}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h4>
            Your email is not confirmed. It can create a bad opinion about you from other people.<br/>
            You can confirm your email via letter in your inbox. <br />
            If you didn't get the confirmation letter, <a class="confirm-links" href="@Url.Action("Confirm","User")">You can resend it.</a><br/>
        Also, you can <a class="confirm-links" href="@Url.Action("EditEmail","User")">edit your email adress</a></h4>
        <div class="pull-right"><a class="btn-common"></a> </div>
    </div>
</div> 
