﻿@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<div class="col-xs-12 confirm-letter-info thumbnail">
    <h2>Thank You</h2><br/>
    <p class="email-letter-confirm-text">Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email</p>
    <div class="col-sm-offset-4 col-xs-offset-12"></div>
</div>