﻿@model JustWork.Model.UserModels.EditEmailViewModel
@{
    ViewBag.Title = "Edit email";
}

<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 user-modal">
    <div class="my-account-form">
        <div id="cd-login" class="is-selected">
            <div class="page-login-form cd-login">
                @using (Html.BeginForm("EditEmail", "User", FormMethod.Post, new { @class = "login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "New Email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="ti-lock"></i>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-common log-btn">Edit Email</button>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
