﻿@model JustWork.Model.UserModels.LoginUserViewModel
@{
    ViewBag.Title = "Login";
}

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 user-modal">
    <div class="my-account-form">
            <div id="cd-login" class="is-selected">
                <div class="page-login-form cd-login">
                    <div class=" login-form">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="ti-user"></i>
                                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder = "Username"})
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="ti-lock"></i>
                                    @Html.TextBoxFor(model => model.Password, new {@class = "form-control", type = "password", placeholder = "Password"})
                                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <button type="submit" class="btn btn-common log-btn">Login</button>
                        }
                    </div>
                </div>
            </div>
</div>
</div>
@Scripts.Render("~/bundles/jqueryval")
