﻿@model JustWork.Model.UserModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="my-account-form">
        <div id="login">
            <div id="signup">
                <div class="page-login-form register">
                    <div class="login-form register">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="ti-user"></i>
                                @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder = "Username", pattertn = "[A-Za-z]"})
                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = "Email"})
                                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="ti-lock"></i>
                                @Html.TextBoxFor(model => model.Password, new {@class = "form-control", type = "password", placeholder = "Password"})
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="ti-lock"></i>
                                @Html.TextBoxFor(model => model.PasswordConfirm, new {@class = "form-control", type = "password", placeholder = "Password confirm"})
                                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RoleId, new {@class = "control-label"})
                            <select class="form-control" name="RoleId" id="RoleId">
                                <option value="2" selected="selected">Customer</option>
                                <option value="3">Employer</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-common log-btn">Register</button>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
