/* ==========================================================================
   Preset Loader
   ========================================================================== */
/*====================================================
    intro section style
    ====================================================*/
.section-intro {
  background: url("../img/bg/bg-intro.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
}
.section-intro:before {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(42, 46, 50, 0.8);
  position: absolute;
}
.search-container {
  padding: 200px 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.search-container .form-control {
  padding: 0 40px;
  border: 1px solid transparent;
}
.search-container .form-group {
  margin-bottom: 0!important;
}
.search-container h2 {
  font-size: 30px;
  color: #ff4f57;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.search-container h1 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 30px;
}
.search-container .content {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-bottom: 30px;
}
.popular-jobs a {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  color: #fff;
  margin: 0 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.popular-jobs a:hover {
  background: #ff4f57;
  border-color: #ff4f57;
  color: #fff;
}
.section-intro .main-text {
  margin: 100px 15px 130px;
  text-transform: uppercase;
}
.section-intro .main-text .intro-title {
  font-size: 48px;
  color: #fff;
  white-space: nowrap;
  line-height: 58px;
}
.section-intro .main-text .sub-title {
  font-size: 14px;
  color: #fff;
  padding: 15px 0;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
#search-row-wrapper {
  background: url("../img/bg/counter-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#search-row-wrapper .overlay {
  background: url("../img/bg/bg-overlay.png") rgba(0, 0, 0, 0.3) repeat;
  width: 100%;
  height: 100%;
}
#search-row-wrapper .search-inner {
  padding: 40px 0;
}
#intro-bg {
  background: url("../img/bg/bg-intro-1.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
}
#intro-bg:before {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(42, 46, 50, 0.7);
  position: absolute;
}
/* ==========================================================================
   Advanced search
   ========================================================================== */
.search-bar {
  background: rgba(68, 68, 68, 0.7);
  padding: 20px;
}
.search-bar i {
  font-size: 15px;
  position: absolute;
  top: 0;
  background-color: transparent;
  color: #444;
  right: 15px;
  padding: 15px;
}
.search-bar label {
  z-index: 0;
  font-weight: 400;
  width: 100%;
  margin: 0;
}
.search-bar .form-group {
  margin-bottom: 0!important;
}
.input-group-addon {
  border: none;
}
.search-category .search-category-container {
  border: none;
  padding: 0;
  position: relative;
  border-radius: 0;
  border: none!important;
  background: #fff;
}
.input-group-addon {
  padding: 0!important;
}
.styled-select {
  position: relative;
  width: 100%;
  background: #fff;
}
.styled-select:before {
  content: "\e651";
  float: left;
  position: absolute;
  font-family: themify;
  color: #666;
  left: 2px;
  padding: 13px;
  z-index: 999;
}
.styled-select > select {
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  height: 44px;
}
.search-category select {
  padding: 12px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
select > opation:focus {
  box-shadow: none;
  border: none;
}
.dropdown-product select.balck {
  background-color: #666;
}
.dropdown-product select.option3 {
  border-radius: 10px 0;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted transparent!important;
  outline: 0 auto -webkit-focus-ring-color !important;
  outline-offset: 0!important;
}
.btn-default {
  padding: 17px 14px;
  border-radius: 0;
  color: #2d2d2d !important;
  background: #fff;
  text-transform: none;
}
.btn-default:hover {
  background-color: #fff;
  border-color: #fff;
}
label {
  margin: 0;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  margin-left: 30px;
}
.page-ads .styled-select {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #444;
  display: block;
}
.page-ads .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
/* ==========================================================================
   Jobs section Start
   ========================================================================== */
.find-job {
  background: #fff;
}
.find-job .tabs-container {
  background: #F0F3FA;
  padding: 15px;
  border: 1px solid #ddd;
}
.find-job .nav-tabs {
  padding: 20px 0;
  background: transparent;
}
.find-job .nav-tabs > li > a {
  padding: 10px 15px;
  font-size: 14px;
  color: #ff4f57;
  text-transform: uppercase;
  border: 1px solid #ff4f57 !important;
  border-radius: 0;
  margin-right: 10px;
  font-weight: 700;
}
.find-job .nav > li > a:focus,
.find-job .nav > li > a:hover {
  background-color: #ff4f57;
  color: #fff;
}
.find-job .nav-tabs > li.active > a,
.find-job .nav-tabs > li.active > a:focus,
.find-job .nav-tabs > li.active > a:hover {
  border-radius: 0;
  background: #ff4f57;
  color: #fff;
}
.find-job table td {
  line-height: 78px !important;
  font-size: 14px;
  font-weight: 700;
}
.find-job td img {
  margin-right: 10px;
}
.find-job .table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #fff;
}
.find-job .table > caption + thead > tr:first-child > td,
.find-job .table > caption + thead > tr:first-child > th,
.find-job .table > colgroup + thead > tr:first-child > td,
.find-job .table > colgroup + thead > tr:first-child > th,
.find-job .table > thead:first-child > tr:first-child > td,
.find-job .table > thead:first-child > tr:first-child > th {
  padding: 15px 0;
  color: #627198;
  font-size: 14px;
  font-weight: 700;
}
.find-job .pill {
  display: inline-block;
  padding: 4px 4px;
  height: 18px;
  line-height: 12px;
  text-align: center;
  border-radius: 30px;
  color: white;
}
.find-job .pill.medium {
  padding: 4px 10px;
  height: 22px;
  font-size: 12px;
  line-height: 15px;
}
.find-job .green {
  background: #9DB722;
}
.find-job .red {
  background: #DE4003;
}
.find-job .yellow {
  background: #DDA103;
}
.find-job .showing a {
  margin-left: 10px;
  font-size: 14px;
  line-height: 32px;
}
.find-job .showing a span {
  color: #ff4f57;
}
.find-job .pagination > li > a,
.find-job .pagination > li > span {
  margin-right: 5px;
  border-radius: 50px;
  background: transparent;
}
.find-job .pagination .btn i {
  font-size: 10px;
}
/* ==========================================================================
   Category Section Start
   ========================================================================== */
.category {
  background: #ff4f57;
}
.category .section-title {
  color: #fff;
}
.f-category:hover .icon img,
.f-category:hover .icon i {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.f-category {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: 1px solid #ddd;
  height: 190px;
  margin-top: -1px;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  display: block;
  margin-right: -1px;
}
.f-category:hover {
  background: #eee;
}
.f-category .icon {
  margin: 15px;
}
.f-category .icon img {
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category .icon i {
  font-size: 40px;
  padding: 20px;
  color: #ff4f57;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category h3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 32px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.f-category h3 a {
  color: #444;
}
.f-category h3 a:hover {
  color: #ff4f57;
}
.f-category p {
  color: #999;
}
/* ==========================================================================
   Featured Jobs Section Style
   ========================================================================== */
.featured-jobs .featured-item {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  cursor: pointer;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
.featured-jobs .featured-item:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
.featured-jobs .featured-wrap {
  background: #fff;
  width: 100%;
  padding: 8px;
}
.featured-jobs .item-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.featured-jobs .item-thumb a {
  display: block;
}
.featured-jobs .item-thumb:hover {
  opacity: 0.9;
}
.featured-jobs .item-body {
  padding: 20px 12px 10px;
  width: 100%;
}
.featured-jobs .item-body .job-title {
  margin: 0 0 4px 0;
}
.featured-jobs .item-body .job-title a {
  font-size: 16px;
  text-transform: uppercase;
}
.featured-jobs .item-body .job-title a:hover {
  color: #ff4f57;
}
.featured-jobs .item-body .adderess {
  color: #999;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.featured-jobs .item-foot {
  background: #fff;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 14px 20px;
  position: relative;
}
.featured-jobs .item-foot a {
  color: #999;
}
.featured-jobs .item-foot a:hover {
  color: #ff4f57;
}
.featured-jobs .item-foot span {
  color: #999;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 10px;
}
.featured-jobs .item-foot span i {
  margin-right: 5px;
}
.featured-jobs .item-foot .view-iocn {
  position: absolute;
  top: -24px;
  right: 24px;
}
.featured-jobs .item-foot .view-iocn a {
  width: 48px;
  display: block;
  background: #ff4f57;
  color: #fff;
  font-size: 20px;
  height: 48px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
/* ==========================================================================
   purchase 
   ========================================================================== */
.purchase {
    background-image: url("../img/parallax/bg-02.jpg");
    padding: 100px 0;
    background-attachment: local;
    background-position: 50% 0;
}
.purchase .title-text {
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.purchase p {
  color: #9FA7BA;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
/* ==========================================================================
   Blog 
   ========================================================================== */
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 0;
  margin-bottom: 30px;
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
#blog .blog-item-wrapper:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#blog .blog-item-img {
  position: relative;
}
#blog .blog-item-img img {
  width: 100%;
}
#blog .blog-item-text {
  border: 1px solid #f1f1f1;
  padding: 15px;
}
#blog .blog-item-text .meta-tags {
  margin-bottom: 10px;
}
#blog .blog-item-text .meta-tags span {
  margin-right: 10px;
}
#blog .blog-item-text .meta-tags span i {
  margin-right: 5px;
}
#blog .blog-item-text h3 {
  line-height: 26px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
#blog .blog-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}
/* ==========================================================================
   Testimonial Section Start
   ========================================================================== */
#testimonial {
  width: 100%;
  background: url(../img/testimonial/testimonial-bg.jpg);
  background-size: cover;
  position: relative;
}
#testimonial:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#testimonial .img-member {
  height: 90px;
  border-radius: 100%;
  margin-top: 22px;
  overflow: hidden;
  width: 90px;
}
#testimonial .client-info {
  color: #fff;
  line-height: 20px;
  margin: 20px auto;
}
#testimonial .client-info .client-name {
  font-size: 20px;
  line-height: 44px;
  text-transform: uppercase;
}
#testimonial .client-info .client-name span {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  font-style: italic;
}
#testimonial p {
  margin: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.9px;
  color: #fff;
  font-style: italic;
  position: relative;
}
#testimonial p .quote-left {
  font-size: 32px;
  margin-right: 36px;
}
#testimonial p .quote-right {
  font-size: 32px;
  margin-left: 36px;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
  border-radius: 50%;
  font-size: 30px;
  margin: 20px 10px 0;
  padding: 0 12px;
}
.touch-slider .owl-controls .owl-buttons {
  position: relative;
  top: -190px;
  left: 0;
}
.touch-slider .owl-controls .owl-buttons div.owl-prev {
  float: left;
  margin-left: -45px;
}
.touch-slider .owl-controls .owl-buttons div.owl-next {
  float: right !important;
  margin-right: -45px;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: block !important;
  background: #ff4f57 !important;
  text-align: center;
  display: inline-block;
  opacity: 1!important;
  border-radius: 50px!important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.8!important;
}
.owl-theme .owl-controls .owl-buttons div i {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}
/* ==========================================================================
   Clients Section
   ========================================================================== */
.clients {
  background: #f7f7f7;
}
.clients .items {
  margin: 15px;
  text-align: center;
}
/* ==========================================================================
    Counter Style
    ========================================================================== */
#counter {
  background: url("../img/bg/counter-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}
.counting {
  margin: 15px 0;
}
.counting .icon {
  margin-bottom: 25px;
}
.counting .icon i {
  color: #ff4f57;
  font-size: 42px;
}
.counting .desc h2 {
  font-size: 30px;
  line-height: 27px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.counting .desc h2:after {
  background: #ff4f57;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 45px;
}
.counting .desc h1 {
  font-size: 38px;
  line-height: 39px;
}
.counting:hover span {
  background: #ff4f57;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* ==========================================================================
   Infobox Style
   ========================================================================== */
.infobox {
  background: #ff4f57;
}
.infobox .info-text {
  float: left;
  display: inline-block;
}
.infobox .info-text h2 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
}
.infobox .info-text p {
  color: #fff;
  line-height: 30px;
}
.infobox .info-text p a {
  color: #ddd;
}
.infobox .info-text p a:hover {
  color: #fff;
}
.infobox .btn {
  margin-top: 15px;
  float: right;
}
/* ==========================================================================
   Footer Style
   ========================================================================== */
footer .block-title {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 30px;
}
footer .footer-Content {
  background-color: #202020;
  padding: 60px 0;
  color: #fff;
}
.textwidget {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
}
footer .menu {
  padding-left: 0;
}
footer .menu li {
  padding-bottom: 10px;
}
footer .menu li a {
  color: #fff;
  padding: 0;
}
footer .menu li a:hover {
  color: #ff4f57;
}
.subscribe-box {
  margin-top: 18px;
}
.subscribe-box input[type="text"] {
  color: #444;
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  background: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  outline: none;
}
.subscribe-box input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  background: #ff4f57;
  text-transform: uppercase;
  border: none;
  padding: 7px 16px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.bottom-social-icons {
  margin-bottom: 10px;
}
.bottom-social-icons a {
  color: #fff;
  text-align: center;
  width: 42px;
  line-height: 44px;
  margin-right: 5px;
  border-radius: 50px;
  background: #ff4f57;
  display: inline-block;
  height: 42px;
  position: relative;
  overflow: hidden;
}
#copyright {
  background-color: #202020;
  border-top: 1px solid #393939;
  padding: 20px 0 10px;
  color: #fff;
}
#copyright p {
  line-height: 34px;
}
#copyright p a {
  color: #fff;
}
#copyright p a:hover {
  color: #ff4f57;
}
.social-icon .facebook:hover {
  background-color: #3b5998;
}
.social-icon .twitter:hover {
  background-color: #55acee;
}
.social-icon .dribble:hover {
  background-color: #D34836;
}
.social-icon .flickr:hover {
  background-color: #ff0084;
}
.social-icon .youtube:hover {
  background-color: #CC181E;
}
.social-icon .google-plus:hover {
  background-color: #dd4b39;
}
.social-icon .linkedin:hover {
  background-color: #007bb5;
}
footer ul li a {
  padding: 0;
}
footer {
  padding: 0;
}
/* ==========================================================================
   Categories Page style
   ========================================================================== */
.widget-title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.widget-title:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff4f57;
  width: 50px;
  bottom: -1px;
  left: 0;
}
.widget-title i {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  color: #ff4f57;
}
.widget-title h4 {
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
}
.inner-box {
  border: 1px solid #eee;
  padding: 30px;
  margin-bottom: 30px;
}
.categories-list ul {
  margin: 0;
}
.categories-list ul li a {
  padding: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #eee;
}
.categories-list ul li a:hover {
  color: #ff4f57;
}
.categories-list ul li a i {
  margin-right: 5px;
}
.categories-list ul li:last-child a {
  border: none;
}
/* ==========================================================================
   Categories All Page Style
   ========================================================================== */
.all-categories .cat-title {
  font-size: 14px;
  text-transform: uppercase;
  background: #F8F8F8;
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.all-categories .cat-title span {
  color: #999;
  font-size: 12px;
}
.all-categories ul {
  margin-bottom: 20px;
}
.all-categories ul li {
  padding: 4px 20px;
  font-size: 15px;
  line-height: 26px;
}
.all-categories ul li a {
  color: #999;
}
.all-categories ul li a:hover {
  color: #ff4f57;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination-bar {
  padding-bottom: 35px;
  margin-top: 35px;
}
.pagination {
  margin: 0;
}
.pagination > li > a,
.pagination .pagination > li > span {
  border: 1px solid #eee;
  border-radius: 0;
}
.pagination .active > a,
.pagination .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #ff4f57 !important;
  border-color: #ff4f57 !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #ff4f57;
  border-color: #ff4f57;
  color: #fff;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  box-shadow: none;
}
.post-promo {
  background: #e5e5e5;
  border: 1px solid #ddd;
  padding: 30px;
}
.post-promo h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.post-promo h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
/* ==========================================================================
   About Page Style
   ========================================================================== */
#service-main .section-title {
  margin-bottom: 30px;
}
.service-item {
  text-align: center;
  padding: 30px 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-item .icon-wrapper {
  font-size: 40px;
  margin-bottom: 30px;
}
.service-item .icon-wrapper i {
  display: block;
  margin: 0 auto;
  color: #ff4f57;
}
.service-item h2 {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-item:hover {
  background: #f1f1f1;
}
.about-content {
  padding: 15px 15px;
}
.about-content .desc {
  font-weight: 700;
  line-height: 26px;
  margin-top: 20px;
}
.about-content p {
  margin-bottom: 20px;
}
/* ==========================================================================
   Job Details Page Style
   ========================================================================== */
.job-detail {
  background: #F5F5F5;
}
.job-detail .medium-title {
  margin-bottom: 30px;
  font-weight: 900;
}
.job-detail .box {
  background: #fff;
  margin-bottom: 30px;
}
.job-detail .thumb {
  float: left;
  margin: 0 20px 0 0;
}
.job-detail .text-left {
  float: left;
  width: 75%;
}
.job-detail .text-left h3 {
  font-size: 24px;
  margin: 0 0 5px 0;
}
.job-detail .text-left p {
  margin: 0 0 10px 0;
}
.job-detail .text-left .meta span {
  margin-right: 20px;
  color: #999;
}
.job-detail .text-left .meta span i {
  color: #ff4f57;
  margin-right: 3px;
}
.job-detail .text-left .price {
  font-size: 18px;
  padding: 10px 0 15px 0;
  display: block;
  clear: both;
}
.job-detail .text-left .price i {
  font-size: 15px;
  margin-right: 10px;
  color: #ff4f57;
}
.job-detail .text-left .btn {
  margin-right: 20px;
}
.job-detail .clearfix {
  display: inline-block;
  width: 100%;
  padding: 30px 0 0 0;
}
.job-detail .clearfix h4 {
  margin-bottom: 10px;
}
.job-detail .clearfix p {
  color: #888;
  margin: 0 0 20px 0;
}
.job-detail .clearfix ul li {
  padding: 0 0 30px 20px;
  overflow: hidden;
  display: block;
  font-size: 14px;
  color: #666;
  position: relative;
}
.job-detail .clearfix ul li i {
  position: absolute;
  left: 0;
  top: 4px;
  margin-right: 5px;
  color: #ff4f57;
}
.job-detail .sidebar .thumb {
  width: 100%;
  background: #000;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
}
.job-detail .sidebar .text-box h4 {
  margin: 0 0 12px 0;
}
.job-detail .sidebar .text-box h4 a {
  color: #ff4f57;
}
.job-detail .sidebar .text-box p {
  color: #888;
  margin: 0 0 10px 0;
}
.job-detail .sidebar .text-box a.text {
  display: block;
  color: #888;
  padding: 0 0 5px 0;
}
.job-detail .sidebar .text-box a.text i {
  margin-right: 5px;
  color: #ff4f57;
}
.job-detail .sidebar .text-box strong.price {
  color: #666;
  font-size: 15px;
  display: block;
  padding: 3px 0 15px 0;
}
.job-detail .sidebar .text-box strong.price i {
  margin-right: 5px;
  color: #ff4f57;
}
.job-detail .sidebar .sidebar-jobs ul li {
  display: block;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.job-detail .sidebar .sidebar-jobs ul li:last-child {
  border: none;
}
.job-detail .sidebar .sidebar-jobs ul li a {
  display: block;
  padding: 0 0 5px 0;
}
.job-detail .sidebar .sidebar-jobs ul li span {
  color: #888;
  display: block;
}
.job-detail .sidebar .sidebar-jobs ul li span i {
  margin-right: 5px;
  color: #ff4f57;
}
/* ==========================================================================
   Browse Jobs Page Style
   ========================================================================== */
.full-time {
  font-size: 12px;
  color: #fff;
  background: #2c3e50 !important;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 18px;
}
.part-time {
  font-size: 12px;
  color: #fff;
  background: #7f8c8d !important;
  border-radius: 4px;
  margin-left: 10px;
  padding: 7px 18px;
}
.job-browse .pagination {
  margin-top: 30px;
}
.job-browse .cat-list li {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
}
.job-browse .cat-list li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.job-list {
  border: 1px solid #f1f1f1;
  padding: 15px;
  display: inline-block;
  margin-bottom: 15px;
}
.job-list .thumb {
  float: left;
}
.job-list .thumb img {
  border-radius: 4px;
}
.job-list .job-list-content {
  display: block;
  margin-left: 125px;
  position: relative;
}
.job-list .job-list-content h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
.job-list .job-list-content p {
  margin-bottom: 20px;
}
.job-list .job-tag {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  line-height: 35px;
}
.job-list .job-tag .meta-tag span {
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}
.job-list .job-tag .meta-tag span a {
  color: #999;
}
.job-list .job-tag .meta-tag span a:hover {
  color: #ff4f57;
}
.job-list .job-tag .meta-tag span i {
  margin-right: 5px;
}
.job-list .job-tag .icon {
  float: left;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  line-height: 42px;
  border-radius: 50px;
  text-align: center;
  margin-right: 18px;
  background: #f1f1f1;
  color: #ff4f57;
  font-size: 16px;
}
/* ==========================================================================
   Job Alerts Pages Style
   ========================================================================== */
.right-sideabr h4 {
  font-size: 13px;
  color: #999;
}
.right-sideabr .item {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
.right-sideabr .lest li {
  padding: 5px 0;
}
.right-sideabr .lest li a {
  font-size: 14px;
  font-weight: 700;
  color: #888;
}
.right-sideabr .lest li a:hover {
  color: #ff4f57;
}
.right-sideabr .lest li a.active {
  color: #ff4f57;
}
.right-sideabr .lest .notinumber {
  float: right;
  width: 24px;
  height: 24px;
  background: #ff4f57;
  text-align: center;
  border-radius: 50px;
  color: #fff;
}
.job-alerts-item {
  border: 1px solid #eee;
  padding: 30px;
}
.job-alerts-item .alerts-list {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
.job-alerts-item .alerts-title {
  font-size: 26px;
  margin-bottom: 30px;
}
.job-alerts-item .alerts-content {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.job-alerts-item .alerts-content h3 {
  font-size: 16px;
}
.job-alerts-item .alerts-content .location {
  color: #999;
}
.job-alerts-item .alerts-content p {
  color: #999;
  margin-top: 15px;
}
.job-alerts-item .job-list {
  border: none;
  padding: 15px 0;
}
/* ==========================================================================
   My Resume Page Style
   ========================================================================== */
.my-resume .item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.my-resume .item h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.my-resume .item h3 i {
  margin-right: 5px;
  color: #999;
}
.my-resume .item h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.my-resume .item h5 {
  font-size: 13px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.my-resume .item .date {
  font-size: 15px;
  color: #888;
}
.my-resume .item p {
  color: #888;
}
.my-resume .item br {
  margin-bottom: 20px;
}
.my-resume .author-resume {
  display: inline-block;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.my-resume .author-resume .thumb {
  float: left;
}
.my-resume .author-resume .thumb img {
  border-radius: 4px;
}
.my-resume .author-resume .author-info {
  margin-left: 140px;
}
.my-resume .author-resume .author-info h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.my-resume .author-resume .author-info p {
  line-height: 30px;
}
.my-resume .author-resume .author-info .social-link {
  margin-top: 5px;
}
.my-resume .skill {
  margin-top: 30px;
}
.my-resume .skill h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.my-resume .skill h3 i {
  margin-right: 5px;
  color: #999;
}
/* Add Resume Page */
.post-header {
  padding: 10px 15px;
  background: #ddd;
  margin-bottom: 20px;
}
.post-header a {
  color: #ff4f57;
}
.add-post-btn {
  width: 100%;
  display: inline-block;
  padding: 5px 0 25px 0;
}
.add-post-btn .btn-added {
  font-size: 12px;
  border-radius: 50px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}
.add-post-btn .btn-delete {
  color: red;
  font-size: 12px;
  border-radius: 50px;
  font-weight: 700;
  background: #ddd;
  padding: 5px 15px;
}
/* ==========================================================================
   Manager Resumes Pages Style
   ========================================================================== */
.manager-resumes-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.manager-resumes-item .item-body {
  padding: 20px 30px;
  color: #999;
}
.manager-resumes-item .item-body .tag-list {
  margin-top: 15px;
}
.manager-resumes-item .item-body .tag-list span {
  background-color: #f8f9fb;
  color: #818a91;
  padding: 2px 6px;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
}
.manager-resumes-item .manager-content {
  padding: 20px 30px;
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
  width: 100%;
}
.manager-resumes-item .manager-content .resume-thumb {
  max-width: 64px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.manager-resumes-item .manager-content .manager-info .manager-name {
  float: left;
}
.manager-resumes-item .manager-content .manager-info .manager-name h4 {
  font-size: 22px;
  line-height: 35px;
}
.manager-resumes-item .manager-content .manager-info .manager-name h5 {
  font-size: 17px;
  margin-top: 6px;
  color: #999;
}
.manager-resumes-item .manager-content .manager-info .manager-meta {
  float: right;
  text-align: right;
}
.manager-resumes-item .manager-content .manager-info .manager-meta span {
  display: block;
  color: #999;
  font-size: 16px;
  line-height: 35px;
}
.manager-resumes-item .update-date {
  padding: 5px 30px;
  display: inline-block;
  width: 100%;
}
.manager-resumes-item .update-date .status {
  float: left;
}
.manager-resumes-item .update-date .action-btn {
  float: right;
}
.manager-resumes-item .btn-xs {
  height: 24px;
  border-radius: 2px;
  line-height: 24px;
  padding: 0 12px;
  font-size: 11px;
}
.manager-resumes-item .btn {
  background: #eceeef;
}
.manager-resumes-item .btn-gray {
  color: #818a91;
}
.manager-resumes-item .btn-gray:hover {
  color: #ff4f57;
}
.manager-resumes-item .btn-danger {
  background-color: #ef4d42 !important;
}
/* ==========================================================================
   Notifications Page Style
   ========================================================================== */
.notification .pagination {
  margin-top: 30px;
}
.notification-item {
  display: inline-block;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.notification-item .thums {
  float: left;
}
.notification-item .thums img {
  border-radius: 4px;
  width: 80px;
}
.notification-item .text-left {
  margin-left: 98px;
  padding: 15px 0;
}
.notification-item .text-left p {
  font-size: 15px;
}
.notification-item .text-left .time {
  color: #999;
}
.notification-item .text-left .time i {
  margin-right: 5px;
}
/* ==========================================================================
   Applications Page Style
   ========================================================================== */
.applications-content {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.applications-content .thums {
  float: left;
  width: 60px;
  margin-right: 12px;
}
.applications-content h3 {
  font-size: 14px;
  margin-top: 10px;
}
.applications-content p {
  color: #999;
  margin-top: 15px;
}
/* ==========================================================================
   Manage Jobs Page Style
   ========================================================================== */
.candidates .can-img img {
  width: 48px;
  margin: 5px 15px;
}
/* ==========================================================================
   Policy Page Style
   ========================================================================== */
.policy {
  background: #F5F5F5;
}
.policy .post-box {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.policy .post-box .text-box {
  width: 100%;
  padding: 20px 23px;
}
.policy .post-box .text-box h2 {
  line-height: 26px;
  clear: both;
  margin: 0 0 18px 0;
}
.policy .post-box .text-box h4 {
  line-height: 26px;
  clear: both;
  color: #999;
  margin: 0 0 18px 0;
}
.policy .post-box .text-box p {
  color: #888;
  margin: 0 0 20px 0;
}
.policy .post-box ul {
  padding: 0 0 20px 20px;
  margin: 0;
}
.policy .post-box ul li {
  padding: 0;
  display: block;
  overflow: hidden;
  color: #888;
}
/* ==========================================================================
   Post Job Style
   ========================================================================== */
fieldset label {
  margin-bottom: 10px;
}
fieldset p {
  margin-bottom: 10px;
}
.divider {
  padding: 10px 0 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* ==========================================================================
   Pricing Table Style
   ========================================================================== */
.mainHeading {
  text-align: center;
  margin-bottom: 20px;
}
.mainHeading .section-title {
  font-size: 24px;
  letter-spacing: 0.1em;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 400;
}
#pricing-table {
  background: #F0F3FA;
  text-align: center;
}
#pricing-table .title {
  padding-top: 25px;
  padding-bottom: 20px;
}
#pricing-table .title h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0;
}
#pricing-table .table {
  padding-bottom: 50px;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing-table .table .pricing-header {
  position: relative;
  padding: 30px 0;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-bottom: 50px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
#pricing-table .table .pricing-header .price-value {
  font-size: 52px;
  color: #ff4f57;
  position: relative;
  text-align: center;
  font-weight: 700;
  line-height: 62px;
}
#pricing-table .table .pricing-header .price-value sup {
  font-size: 30px;
  position: relative;
  top: -24px;
  font-weight: 400;
}
#pricing-table .table .pricing-header .price-quality {
  font-size: 14px;
  color: #999;
}
#pricing-table .table .description {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 30px;
}
#pricing-table .table .description li {
  font-size: 14px;
  color: #999;
  padding-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#pricing-table .table:hover {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#pricing-table .table:hover .pricing-header {
  background: #ff4f57;
}
#pricing-table .table:hover .pricing-header .price-value {
  color: #ffffff;
}
#pricing-table .table:hover .pricing-header .price-quality {
  color: #ffffff;
}
#pricing-table #active-tb {
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
}
#pricing-table #active-tb .pricing-header {
  background: #ff4f57;
}
#pricing-table #active-tb .pricing-header .price-value {
  color: #ffffff;
}
#pricing-table #active-tb .pricing-header .price-quality {
  color: #ffffff;
}
/* ==========================================================================
   Account Archived ADS pages style
   ========================================================================== */
.collapse-box {
  margin-bottom: 15px;
}
.collapset-title {
  border-top: 1px solid #eee;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}
.no-border {
  border: none;
}
.user-panel-sidebar ul {
  padding: 0;
}
.user-panel-sidebar ul li a {
  background: #FFF;
  display: block;
  color: #444;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.user-panel-sidebar ul li a:hover,
.user-panel-sidebar ul li a:active,
.user-panel-sidebar ul li.active a {
  background-color: #ff4f57;
  color: #fff;
}
.user-panel-sidebar ul li a:hover .badge,
.user-panel-sidebar ul li a:focus .badge,
.user-panel-sidebar ul li.active a .badge {
  color: #fff;
}
.user-panel-sidebar ul li:last-child a {
  border-bottom: none;
}
.collapse-box .badge {
  float: right;
  background-color: transparent;
  color: #888;
  font-size: 11px;
  line-height: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.table-search .control-label {
  line-height: 16px;
  padding-right: 0;
}
.searchpan input#filter {
  font-size: 12px;
  height: 30px;
}
.clear-filter {
  font-size: 11px;
}
.add-img-td img {
  width: 100%;
}
.table-action {
  display: block;
  margin-bottom: 15px;
}
table.add-manage-table > tbody > tr > td,
table.add-manage-table > tbody > tr > th {
  vertical-align: middle;
}
.table > thead > tr > th {
  border-bottom: none;
  color: #ff4f57;
}
.ads-details-td h4 {
  font-size: 15px;
  margin-bottom: 6px;
}
.ads-details-td strong {
  font-size: 13px;
  color: #444;
}
.ads-details-td sapn {
  color: #888;
}
.price-td {
  text-align: center;
  color: #888;
}
.add-img-selector {
  width: 2%;
}
.add-img-td {
  width: 20%;
}
.ads-details-td {
  width: 60%;
}
.price-td {
  width: 16%;
}
.action-td {
  width: 10%;
}
.photo-count {
  background: none repeat scroll 0 0 #ccc;
  border: 0 none;
  border-radius: 0;
  font-size: 12px;
  opacity: 0.9;
  padding: 0 3px;
  position: absolute;
  right: 4px;
  top: 5px;
}
/* ==========================================================================
   Account home page
   ========================================================================== */
.userimg {
  border: 1px solid #eee;
  display: inline-block;
  width: 75px;
  padding: 3px;
  margin-right: 5px;
}
.usearadmin h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.welcome-msg {
  margin-bottom: 30px;
}
.pt {
  margin-top: 15px;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  background-color: #ff4f57;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
