/* ANIMATION */
/* SHADOWS */
/* Shadows (from mdl http://www.getmdl.io/) */
body.inverse { background: #333333; }

body.inverse, body.inverse .form-control { color: #ffffff; }

body.inverse .modal,
body.inverse .modal .form-control,
body.inverse .panel-default,
body.inverse .panel-default .form-control,
body.inverse .card,
body.inverse .card .form-control {
    background-color: initial;
    color: initial;
}

.life-of-material-kit { background: #FFFFFF; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

a .material-icons, a:hover .material-icons, a:focus .material-icons { vertical-align: middle; }

/*           Animations              */

.animation-transition-general, .carousel .carousel-indicators li {
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.animation-transition-slow {
    -moz-transition: all 370ms linear;
    -ms-transition: all 370ms linear;
    -o-transition: all 370ms linear;
    -webkit-transition: all 370ms linear;
    transition: all 370ms linear;
}

.animation-transition-fast, .navbar {
    -moz-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -webkit-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline { padding-top: 0; }

.form-horizontal .radio { margin-bottom: 10px; }

.form-horizontal label { text-align: right; }

.form-horizontal label.control-label { margin: 0; }

.btn::-moz-focus-inner,
.input-group-btn .btn::-moz-focus-inner { border: 0; }

.btn:focus, .btn:active, .btn:active:focus,
.input-group-btn .btn:focus,
.input-group-btn .btn:active,
.input-group-btn .btn:active:focus { outline: 0; }

.btn.btn-raised, .btn.btn-raised.btn-default, .btn.btn-fab, .btn.btn-fab.btn-default, .btn-group-raised .btn, .btn-group-raised .btn.btn-default,
.input-group-btn .btn.btn-raised,
.input-group-btn .btn.btn-raised.btn-default,
.input-group-btn .btn.btn-fab,
.input-group-btn .btn.btn-fab.btn-default, .btn-group-raised
.input-group-btn .btn, .btn-group-raised
.input-group-btn .btn.btn-default {
    background-color: #EEEEEE;
    color: rgba(0, 0, 0, 0.87);
}

.btn.btn-raised.btn-inverse, .btn.btn-fab.btn-inverse, .btn-group-raised .btn.btn-inverse,
.input-group-btn .btn.btn-raised.btn-inverse,
.input-group-btn .btn.btn-fab.btn-inverse, .btn-group-raised
.input-group-btn .btn.btn-inverse {
    background-color: #3f51b5;
}

.btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary,
.input-group-btn .btn.btn-raised.btn-primary,
.input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised
.input-group-btn .btn.btn-primary {
    background-color: #9c27b0;
    color: #ffffff;
}

.btn.btn-raised.btn-success, .btn.btn-fab.btn-success, .btn-group-raised .btn.btn-success,
.input-group-btn .btn.btn-raised.btn-success,
.input-group-btn .btn.btn-fab.btn-success, .btn-group-raised
.input-group-btn .btn.btn-success {
    background-color: #4caf50;
    color: #ffffff;
}

.btn.btn-raised.btn-info, .btn.btn-fab.btn-info, .btn-group-raised .btn.btn-info,
.input-group-btn .btn.btn-raised.btn-info,
.input-group-btn .btn.btn-fab.btn-info, .btn-group-raised
.input-group-btn .btn.btn-info {
    background-color: #03a9f4;
    color: #ffffff;
}

.btn.btn-raised.btn-warning, .btn.btn-fab.btn-warning, .btn-group-raised .btn.btn-warning,
.input-group-btn .btn.btn-raised.btn-warning,
.input-group-btn .btn.btn-fab.btn-warning, .btn-group-raised
.input-group-btn .btn.btn-warning {
    background-color: #fbc02d;
    color: #ffffff;
}

.btn.btn-raised.btn-danger, .btn.btn-fab.btn-danger, .btn-group-raised .btn.btn-danger,
.input-group-btn .btn.btn-raised.btn-danger,
.input-group-btn .btn.btn-fab.btn-danger, .btn-group-raised
.input-group-btn .btn.btn-danger {
    background-color: #f44336;
    color: #ffffff;
}

.btn.btn-raised:not(.btn-link), .btn-group-raised .btn:not(.btn-link),
.input-group-btn .btn.btn-raised:not(.btn-link), .btn-group-raised
.input-group-btn .btn:not(.btn-link) { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.btn.btn-raised:not(.btn-link):hover, .btn.btn-raised:not(.btn-link):focus, .btn.btn-raised:not(.btn-link).active, .btn.btn-raised:not(.btn-link):active, .btn-group-raised .btn:not(.btn-link):hover, .btn-group-raised .btn:not(.btn-link):focus, .btn-group-raised .btn:not(.btn-link).active, .btn-group-raised .btn:not(.btn-link):active,
.input-group-btn .btn.btn-raised:not(.btn-link):hover,
.input-group-btn .btn.btn-raised:not(.btn-link):focus,
.input-group-btn .btn.btn-raised:not(.btn-link).active,
.input-group-btn .btn.btn-raised:not(.btn-link):active, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover, .btn-group-raised
.input-group-btn .btn:not(.btn-link):focus, .btn-group-raised
.input-group-btn .btn:not(.btn-link).active, .btn-group-raised
.input-group-btn .btn:not(.btn-link):active { outline: 0; }

.btn.btn-raised:not(.btn-link):hover, .btn.btn-raised:not(.btn-link):hover:focus, .btn.btn-raised:not(.btn-link):hover.active, .btn.btn-raised:not(.btn-link):hover.active:focus, .btn.btn-raised:not(.btn-link):hover:active, .btn.btn-raised:not(.btn-link):hover:active:focus, .btn-group-raised .btn:not(.btn-link):hover, .btn-group-raised .btn:not(.btn-link):hover:focus, .btn-group-raised .btn:not(.btn-link):hover.active, .btn-group-raised .btn:not(.btn-link):hover.active:focus, .btn-group-raised .btn:not(.btn-link):hover:active, .btn-group-raised .btn:not(.btn-link):hover:active:focus,
.input-group-btn .btn.btn-raised:not(.btn-link):hover,
.input-group-btn .btn.btn-raised:not(.btn-link):hover:focus,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.active,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.active:focus,
.input-group-btn .btn.btn-raised:not(.btn-link):hover:active,
.input-group-btn .btn.btn-raised:not(.btn-link):hover:active:focus, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover:focus, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover.active, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover.active:focus, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover:active, .btn-group-raised
.input-group-btn .btn:not(.btn-link):hover:active:focus { box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36); }

.btn.btn-round,
.input-group-btn .btn.btn-round { border-radius: 30px; }

.btn i.material-icons,
.input-group-btn .btn i.material-icons {
    font-size: 17px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.btn.btn-fab,
.input-group-btn .btn.btn-fab {
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    font-size: 24px;
    height: 56px;
    line-height: normal;
    margin: auto;
    min-width: 56px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 56px;
}

.btn.btn-fab .ripple-container,
.input-group-btn .btn.btn-fab .ripple-container { border-radius: 50%; }

.btn.btn-fab.btn-fab-mini, .btn-group-sm .btn.btn-fab,
.input-group-btn .btn.btn-fab.btn-fab-mini, .btn-group-sm
.input-group-btn .btn.btn-fab {
    height: 40px;
    min-width: 40px;
    width: 40px;
}

.btn.btn-fab.btn-fab-mini.material-icons, .btn-group-sm .btn.btn-fab.material-icons,
.input-group-btn .btn.btn-fab.btn-fab-mini.material-icons, .btn-group-sm
.input-group-btn .btn.btn-fab.material-icons {
    left: -3.5px;
    top: -3.5px;
}

.btn.btn-fab.btn-fab-mini .material-icons, .btn-group-sm .btn.btn-fab .material-icons,
.input-group-btn .btn.btn-fab.btn-fab-mini .material-icons, .btn-group-sm
.input-group-btn .btn.btn-fab .material-icons { font-size: 17px; }

.btn.btn-fab i.material-icons,
.input-group-btn .btn.btn-fab i.material-icons {
    font-size: 24px;
    left: 50%;
    line-height: 24px;
    position: absolute;
    top: 50%;
    transform: translate(-12px, -12px);
    width: 24px;
}

.btn.btn-lg, .btn-group-lg .btn,
.input-group-btn .btn.btn-lg, .btn-group-lg
.input-group-btn .btn {
    font-size: 14px;
    padding: 18px 36px;
}

.btn.btn-sm, .btn-group-sm .btn,
.input-group-btn .btn.btn-sm, .btn-group-sm
.input-group-btn .btn {
    font-size: 11px;
    padding: 5px 20px;
}

.btn.btn-xs, .btn-group-xs .btn,
.input-group-btn .btn.btn-xs, .btn-group-xs
.input-group-btn .btn {
    font-size: 10px;
    padding: 4px 15px;
}

.btn-just-icon {
    font-size: 20px;
    padding: 6px 11px;
}

.theme-dark fieldset[disabled][disabled] .btn, .theme-dark .btn.disabled, .theme-dark .btn:disabled, .theme-dark .btn[disabled][disabled], .theme-dark fieldset[disabled][disabled]
.input-group-btn .btn, .theme-dark
.input-group-btn .btn.disabled, .theme-dark
.input-group-btn .btn:disabled, .theme-dark
.input-group-btn .btn[disabled][disabled], .theme-dark fieldset[disabled][disabled]
.btn-group, .theme-dark
.btn-group.disabled, .theme-dark
.btn-group:disabled, .theme-dark
.btn-group[disabled][disabled], .theme-dark fieldset[disabled][disabled]
.btn-group-vertical, .theme-dark
.btn-group-vertical.disabled, .theme-dark
.btn-group-vertical:disabled, .theme-dark
.btn-group-vertical[disabled][disabled] { color: rgba(255, 255, 255, 0.3); }

fieldset[disabled][disabled] .btn.btn-raised, fieldset[disabled][disabled] .btn.btn-raised.active, fieldset[disabled][disabled] .btn.btn-raised:active, fieldset[disabled][disabled] .btn.btn-raised:focus:not(:active), fieldset[disabled][disabled] .btn.btn-group-raised, fieldset[disabled][disabled] .btn.btn-group-raised.active, fieldset[disabled][disabled] .btn.btn-group-raised:active, fieldset[disabled][disabled] .btn.btn-group-raised:focus:not(:active), .btn.disabled.btn-raised, .btn.disabled.btn-raised.active, .btn.disabled.btn-raised:active, .btn.disabled.btn-raised:focus:not(:active), .btn.disabled.btn-group-raised, .btn.disabled.btn-group-raised.active, .btn.disabled.btn-group-raised:active, .btn.disabled.btn-group-raised:focus:not(:active), .btn:disabled.btn-raised, .btn:disabled.btn-raised.active, .btn:disabled.btn-raised:active, .btn:disabled.btn-raised:focus:not(:active), .btn:disabled.btn-group-raised, .btn:disabled.btn-group-raised.active, .btn:disabled.btn-group-raised:active, .btn:disabled.btn-group-raised:focus:not(:active), .btn[disabled][disabled].btn-raised, .btn[disabled][disabled].btn-raised.active, .btn[disabled][disabled].btn-raised:active, .btn[disabled][disabled].btn-raised:focus:not(:active), .btn[disabled][disabled].btn-group-raised, .btn[disabled][disabled].btn-group-raised.active, .btn[disabled][disabled].btn-group-raised:active, .btn[disabled][disabled].btn-group-raised:focus:not(:active), fieldset[disabled][disabled]
.input-group-btn .btn.btn-raised, fieldset[disabled][disabled]
.input-group-btn .btn.btn-raised.active, fieldset[disabled][disabled]
.input-group-btn .btn.btn-raised:active, fieldset[disabled][disabled]
.input-group-btn .btn.btn-raised:focus:not(:active), fieldset[disabled][disabled]
.input-group-btn .btn.btn-group-raised, fieldset[disabled][disabled]
.input-group-btn .btn.btn-group-raised.active, fieldset[disabled][disabled]
.input-group-btn .btn.btn-group-raised:active, fieldset[disabled][disabled]
.input-group-btn .btn.btn-group-raised:focus:not(:active),
.input-group-btn .btn.disabled.btn-raised,
.input-group-btn .btn.disabled.btn-raised.active,
.input-group-btn .btn.disabled.btn-raised:active,
.input-group-btn .btn.disabled.btn-raised:focus:not(:active),
.input-group-btn .btn.disabled.btn-group-raised,
.input-group-btn .btn.disabled.btn-group-raised.active,
.input-group-btn .btn.disabled.btn-group-raised:active,
.input-group-btn .btn.disabled.btn-group-raised:focus:not(:active),
.input-group-btn .btn:disabled.btn-raised,
.input-group-btn .btn:disabled.btn-raised.active,
.input-group-btn .btn:disabled.btn-raised:active,
.input-group-btn .btn:disabled.btn-raised:focus:not(:active),
.input-group-btn .btn:disabled.btn-group-raised,
.input-group-btn .btn:disabled.btn-group-raised.active,
.input-group-btn .btn:disabled.btn-group-raised:active,
.input-group-btn .btn:disabled.btn-group-raised:focus:not(:active),
.input-group-btn .btn[disabled][disabled].btn-raised,
.input-group-btn .btn[disabled][disabled].btn-raised.active,
.input-group-btn .btn[disabled][disabled].btn-raised:active,
.input-group-btn .btn[disabled][disabled].btn-raised:focus:not(:active),
.input-group-btn .btn[disabled][disabled].btn-group-raised,
.input-group-btn .btn[disabled][disabled].btn-group-raised.active,
.input-group-btn .btn[disabled][disabled].btn-group-raised:active,
.input-group-btn .btn[disabled][disabled].btn-group-raised:focus:not(:active), fieldset[disabled][disabled]
.btn-group.btn-raised, fieldset[disabled][disabled]
.btn-group.btn-raised.active, fieldset[disabled][disabled]
.btn-group.btn-raised:active, fieldset[disabled][disabled]
.btn-group.btn-raised:focus:not(:active), fieldset[disabled][disabled]
.btn-group.btn-group-raised, fieldset[disabled][disabled]
.btn-group.btn-group-raised.active, fieldset[disabled][disabled]
.btn-group.btn-group-raised:active, fieldset[disabled][disabled]
.btn-group.btn-group-raised:focus:not(:active),
.btn-group.disabled.btn-raised,
.btn-group.disabled.btn-raised.active,
.btn-group.disabled.btn-raised:active,
.btn-group.disabled.btn-raised:focus:not(:active),
.btn-group.disabled.btn-group-raised,
.btn-group.disabled.btn-group-raised.active,
.btn-group.disabled.btn-group-raised:active,
.btn-group.disabled.btn-group-raised:focus:not(:active),
.btn-group:disabled.btn-raised,
.btn-group:disabled.btn-raised.active,
.btn-group:disabled.btn-raised:active,
.btn-group:disabled.btn-raised:focus:not(:active),
.btn-group:disabled.btn-group-raised,
.btn-group:disabled.btn-group-raised.active,
.btn-group:disabled.btn-group-raised:active,
.btn-group:disabled.btn-group-raised:focus:not(:active),
.btn-group[disabled][disabled].btn-raised,
.btn-group[disabled][disabled].btn-raised.active,
.btn-group[disabled][disabled].btn-raised:active,
.btn-group[disabled][disabled].btn-raised:focus:not(:active),
.btn-group[disabled][disabled].btn-group-raised,
.btn-group[disabled][disabled].btn-group-raised.active,
.btn-group[disabled][disabled].btn-group-raised:active,
.btn-group[disabled][disabled].btn-group-raised:focus:not(:active), fieldset[disabled][disabled]
.btn-group-vertical.btn-raised, fieldset[disabled][disabled]
.btn-group-vertical.btn-raised.active, fieldset[disabled][disabled]
.btn-group-vertical.btn-raised:active, fieldset[disabled][disabled]
.btn-group-vertical.btn-raised:focus:not(:active), fieldset[disabled][disabled]
.btn-group-vertical.btn-group-raised, fieldset[disabled][disabled]
.btn-group-vertical.btn-group-raised.active, fieldset[disabled][disabled]
.btn-group-vertical.btn-group-raised:active, fieldset[disabled][disabled]
.btn-group-vertical.btn-group-raised:focus:not(:active),
.btn-group-vertical.disabled.btn-raised,
.btn-group-vertical.disabled.btn-raised.active,
.btn-group-vertical.disabled.btn-raised:active,
.btn-group-vertical.disabled.btn-raised:focus:not(:active),
.btn-group-vertical.disabled.btn-group-raised,
.btn-group-vertical.disabled.btn-group-raised.active,
.btn-group-vertical.disabled.btn-group-raised:active,
.btn-group-vertical.disabled.btn-group-raised:focus:not(:active),
.btn-group-vertical:disabled.btn-raised,
.btn-group-vertical:disabled.btn-raised.active,
.btn-group-vertical:disabled.btn-raised:active,
.btn-group-vertical:disabled.btn-raised:focus:not(:active),
.btn-group-vertical:disabled.btn-group-raised,
.btn-group-vertical:disabled.btn-group-raised.active,
.btn-group-vertical:disabled.btn-group-raised:active,
.btn-group-vertical:disabled.btn-group-raised:focus:not(:active),
.btn-group-vertical[disabled][disabled].btn-raised,
.btn-group-vertical[disabled][disabled].btn-raised.active,
.btn-group-vertical[disabled][disabled].btn-raised:active,
.btn-group-vertical[disabled][disabled].btn-raised:focus:not(:active),
.btn-group-vertical[disabled][disabled].btn-group-raised,
.btn-group-vertical[disabled][disabled].btn-group-raised.active,
.btn-group-vertical[disabled][disabled].btn-group-raised:active,
.btn-group-vertical[disabled][disabled].btn-group-raised:focus:not(:active) { box-shadow: none; }

.btn-group,
.btn-group-vertical {
    margin: 10px 1px;
    position: relative;
}

.btn-group.open > .dropdown-toggle.btn, .btn-group.open > .dropdown-toggle.btn.btn-default,
.btn-group-vertical.open > .dropdown-toggle.btn,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-default { background-color: #EEEEEE; }

.btn-group.open > .dropdown-toggle.btn.btn-inverse,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse { background-color: #3f51b5; }

.btn-group.open > .dropdown-toggle.btn.btn-primary,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-primary { background-color: #9c27b0; }

.btn-group.open > .dropdown-toggle.btn.btn-success,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-success { background-color: #4caf50; }

.btn-group.open > .dropdown-toggle.btn.btn-info,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-info { background-color: #03a9f4; }

.btn-group.open > .dropdown-toggle.btn.btn-warning,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-warning { background-color: #fbc02d; }

.btn-group.open > .dropdown-toggle.btn.btn-danger,
.btn-group-vertical.open > .dropdown-toggle.btn.btn-danger { background-color: #f44336; }

.btn-group .dropdown-menu,
.btn-group-vertical .dropdown-menu { border-radius: 0 0 3px 3px; }

.btn-group.btn-group-raised,
.btn-group-vertical.btn-group-raised { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.btn-group .btn + .btn,
.btn-group .btn,
.btn-group .btn:active,
.btn-group .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn-group { margin: 0; }

.close {
    color: #FFFFFF;
    font-size: inherit;
    opacity: .9;
    text-shadow: none;
}

.close:hover, .close:focus {
    color: #FFFFFF;
    opacity: 1;
}

.close i { font-size: 20px; }

.checkbox label {
    cursor: pointer;
    padding-left: 0;
}

.form-group.is-focused .checkbox label { color: rgba(0, 0, 0, 0.26); }

.form-group.is-focused .checkbox label:hover, .form-group.is-focused .checkbox label:focus { color: rgba(0, 0, 0, .54); }

fieldset[disabled] .form-group.is-focused .checkbox label { color: rgba(0, 0, 0, 0.26); }

.checkbox input[type=checkbox] {
    height: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: -1;
}

.checkbox .checkbox-material {
    padding-right: 5px;
    position: relative;
    top: 3px;
    vertical-align: middle;
}

.checkbox .checkbox-material .check {
    border: 1px solid rgba(0, 0, 0, .54);
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 20px;
    z-index: 1;
}

.checkbox .checkbox-material .check:before {
    animation: checkbox-off 0.3s forwards;
    background: red;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    content: "";
    display: block;
    height: 0;
    margin-left: 7px;
    margin-top: -3px;
    position: absolute;
    transform: rotate(45deg);
    width: 0;
}

.checkbox input[type=checkbox]:focus + .checkbox-material .check:after { opacity: 0.2; }

.checkbox input[type=checkbox]:checked + .checkbox-material .check { background: #3498db; }

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    animation: checkbox-on 0.3s forwards;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    color: #FFFFFF;
}

.checkbox input[type=checkbox]:checked + .checkbox-material:before { animation: rippleOn 500ms; }

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after { animation: rippleOn 500ms forwards; }

.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before { animation: rippleOff 500ms; }

.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after { animation: rippleOff 500ms; }

fieldset[disabled] .checkbox, fieldset[disabled] .checkbox input[type=checkbox],
.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check,
.checkbox input[type=checkbox][disabled] + .circle { opacity: 0.5; }

.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
    border-color: #000000;
    opacity: .26;
}

.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.87);
    transform: rotate(-45deg);
}

@keyframes checkbox-on {
    0% { box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }

    50% { box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }

    100% { box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; }
}

@keyframes rippleOn {
    0% { opacity: 0; }

    50% { opacity: 0.2; }

    100% { opacity: 0; }
}

@keyframes rippleOff {
    0% { opacity: 0; }

    50% { opacity: 0.2; }

    100% { opacity: 0; }
}

.togglebutton { vertical-align: middle; }

.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle { user-select: none; }

.togglebutton label {
    color: rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.form-group.is-focused .togglebutton label { color: rgba(0, 0, 0, 0.26); }

.form-group.is-focused .togglebutton label:hover, .form-group.is-focused .togglebutton label:focus { color: rgba(0, 0, 0, .54); }

fieldset[disabled] .form-group.is-focused .togglebutton label {
    color: #000000;
    color: rgba(0, 0, 0, 0.26);
}

.togglebutton label input[type=checkbox] {
    height: 0;
    opacity: 0;
    width: 0;
}

.togglebutton label .toggle {
    margin-left: 5px;
    text-align: left;
}

.togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled] + .toggle {
    background-color: #505050;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    content: "";
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    transition: background 0.3s ease;
    vertical-align: middle;
    width: 30px;
}

.togglebutton label .toggle:after {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .54);
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    content: "";
    display: inline-block;
    height: 20px;
    left: -5px;
    position: relative;
    top: -3px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    width: 20px;
}

.togglebutton label input[type=checkbox][disabled] + .toggle:after, .togglebutton label input[type=checkbox][disabled]:checked + .toggle:after { background-color: #BDBDBD; }

.togglebutton label input[type=checkbox] + .toggle:active:after, .togglebutton label input[type=checkbox][disabled] + .toggle:active:after { box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1); }

.togglebutton label input[type=checkbox]:checked + .toggle:after { left: 15px; }

.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #9c27b0;
    background-color: rgba(156, 39, 176, 0.7);
}

.togglebutton label input[type=checkbox]:checked + .toggle:after { border-color: #3498db; }

.togglebutton label input[type=checkbox]:checked + .toggle:active:after { box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(156, 39, 176, 0.1); }

.radio label {
    color: rgba(0, 0, 0, 0.26);
    cursor: pointer;
    padding-left: 35px;
    position: relative;
}

.form-group.is-focused .radio label { color: rgba(0, 0, 0, 0.26); }

.form-group.is-focused .radio label:hover, .form-group.is-focused .radio label:focus { color: rgba(0, 0, 0, .54); }

fieldset[disabled] .form-group.is-focused .radio label { color: rgba(0, 0, 0, 0.26); }

.radio label span {
    display: block;
    left: 10px;
    position: absolute;
    top: 2px;
    transition-duration: 0.2s;
}

.radio label .circle {
    border: 1px solid rgba(0, 0, 0, .54);
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.radio label .check {
    background-color: #3498db;
    border-radius: 100%;
    height: 15px;
    transform: scale3d(0, 0, 0);
    width: 15px;
}

.radio label .check:after {
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 100%;
    content: "";
    display: block;
    height: 50px;
    left: -18px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -18px;
    transform: scale3d(1.5, 1.5, 1);
    width: 50px;
    z-index: 1;
}

.radio label input[type=radio]:not(:checked) ~ .check:after { animation: rippleOff 500ms; }

.radio label input[type=radio]:checked ~ .check:after { animation: rippleOn 500ms; }

.radio input[type=radio] {
    height: 0;
    opacity: 0;
    overflow: hidden;
    width: 0;
}

.radio input[type=radio]:checked ~ .check, .radio input[type=radio]:checked ~ .circle { opacity: 1; }

.radio input[type=radio]:checked ~ .check { background-color: #3498db; }

.radio input[type=radio]:checked ~ .circle { border-color: #3498db; }

.radio input[type=radio]:checked ~ .check { transform: scale3d(0.65, 0.65, 1); }

.radio input[type=radio][disabled] ~ .check, .radio input[type=radio][disabled] ~ .circle { opacity: 0.26; }

.radio input[type=radio][disabled] ~ .check { background-color: #000000; }

.radio input[type=radio][disabled] ~ .circle { border-color: #000000; }

@keyframes rippleOn {
    0% { opacity: 0; }

    50% { opacity: 0.2; }

    100% { opacity: 0; }
}

@keyframes rippleOff {
    0% { opacity: 0; }

    50% { opacity: 0.2; }

    100% { opacity: 0; }
}

legend {
    font-size: 21px;
    margin-bottom: 20px;
}

output {
    font-size: 14px;
    line-height: 1.42857;
    padding-top: 8px;
}

.radio label,
.checkbox label { min-height: 20px; }

.form-control-static {
    min-height: 34px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.input-sm .input-sm {
    border-radius: 0;
    font-size: 11px;
    height: 24px;
    line-height: 1.5;
    padding: 3px 0;
}

.input-sm select.input-sm {
    height: 24px;
    line-height: 24px;
}

.input-sm textarea.input-sm,
.input-sm select[multiple].input-sm { height: auto; }

.form-group-sm .form-control {
    font-size: 11px;
    height: 24px;
    line-height: 1.5;
    padding: 3px 0;
}

.form-group-sm select.form-control {
    height: 24px;
    line-height: 24px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control { height: auto; }

.form-group-sm .form-control-static {
    font-size: 11px;
    height: 24px;
    line-height: 1.5;
    min-height: 31px;
    padding: 4px 0;
}

.input-lg .input-lg {
    border-radius: 0;
    font-size: 18px;
    height: 44px;
    line-height: 1.33333;
    padding: 9px 0;
}

.input-lg select.input-lg {
    height: 44px;
    line-height: 44px;
}

.input-lg textarea.input-lg,
.input-lg select[multiple].input-lg { height: auto; }

.form-group-lg .form-control {
    font-size: 18px;
    height: 44px;
    line-height: 1.33333;
    padding: 9px 0;
}

.form-group-lg select.form-control {
    height: 44px;
    line-height: 44px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control { height: auto; }

.form-group-lg .form-control-static {
    font-size: 18px;
    height: 44px;
    line-height: 1.33333;
    min-height: 38px;
    padding: 10px 0;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline { padding-top: 8px; }

.form-horizontal .radio,
.form-horizontal .checkbox { min-height: 28px; }

@media (min-width: 768px) {
    .form-horizontal .control-label { padding-top: 8px; }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        font-size: 18px;
        padding-top: 13.0px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        font-size: 11px;
        padding-top: 4px;
    }
}

.label { border-radius: 2px; }

.label, .label.label-default { background-color: #9e9e9e; }

.label.label-inverse { background-color: #3f51b5; }

.label.label-primary { background-color: #3498db; }

.label.label-success { background-color: #4caf50; }

.label.label-info { background-color: #03a9f4; }

.label.label-warning { background-color: #fbc02d; }

.label.label-danger { background-color: #f44336; }

.form-group { position: relative; }

.form-group.label-static label.control-label, .form-group.label-placeholder label.control-label, .form-group.label-floating label.control-label {
    pointer-events: none;
    position: absolute;
    transition: 0.3s ease all;
}

.form-group.label-floating label.control-label { will-change: left, top, contents; }

.form-group.label-placeholder:not(.is-empty) label.control-label { display: none; }

.form-group .help-block {
    display: none;
    position: absolute;
}

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label { color: #AAAAAA; }

.form-group.is-focused .help-block { display: block; }

.form-group.has-warning .form-control { box-shadow: none; }

.form-group.has-warning.is-focused .form-control { background-image: linear-gradient(#fbc02d, #fbc02d), linear-gradient(#D2D2D2, #D2D2D2); }

.form-group.has-warning label.control-label,
.form-group.has-warning .help-block { color: #fbc02d; }

.form-group.has-success label.control-label,
.form-group.has-success .help-block { color: #4caf50; }

.form-group.has-info .form-control { box-shadow: none; }

.form-group.has-info.is-focused .form-control { background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#D2D2D2, #D2D2D2); }

.form-group.has-info label.control-label,
.form-group.has-info .help-block { color: #03a9f4; }

.form-group textarea { resize: none; }

.form-group textarea ~ .form-control-highlight { margin-top: -11px; }

.form-group select { -moz-appearance: none; }

.form-group select ~ .material-input:after { display: none; }

.help-block {
    font-size: 11px;
    margin-top: 0;
}

.form-group .form-control:-ms-input-placeholder {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
}

.form-group .help-block {
    font-size: 11px;
    margin-top: -5px;
}

.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    font-size: 11px;
    left: 0;
    line-height: 1.07143;
    top: -28px;
}

.form-group.form-group-sm {
    margin: 21px 0 0 0;
    padding-bottom: 3px;
}

.form-group.form-group-sm .form-control { margin-bottom: 3px; }

.form-group.form-group-sm .form-control::-moz-placeholder {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group.form-group-sm .form-control:-ms-input-placeholder {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group.form-group-sm label.control-label {
    color: #AAAAAA;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.125;
    margin: 16px 0 0 0;
}

.form-group.form-group-sm .help-block {
    font-size: 9px;
    margin-top: 0;
}

.form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label {
    font-size: 11px;
    line-height: 1.5;
    top: -11px;
}

.form-group.form-group-sm.label-static label.control-label, .form-group.form-group-sm.label-floating.is-focused label.control-label, .form-group.form-group-sm.label-floating:not(.is-empty) label.control-label {
    font-size: 9px;
    left: 0;
    line-height: 1.125;
    top: -25px;
}

.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    font-size: 9px;
    left: 0;
    line-height: 1.125;
    top: -25px;
}

.form-group.form-group-lg {
    margin: 30px 0 0 0;
    padding-bottom: 9px;
}

.form-group.form-group-lg .form-control { margin-bottom: 9px; }

.form-group.form-group-lg .form-control::-moz-placeholder {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
}

.form-group.form-group-lg label.control-label {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.0;
    margin: 16px 0 0 0;
}

.form-group.form-group-lg .help-block {
    font-size: 14px;
    margin-top: 0;
}

.form-group.form-group-lg.label-floating label.control-label, .form-group.form-group-lg.label-placeholder label.control-label {
    font-size: 18px;
    line-height: 1.33333;
    top: -5px;
}

.form-group.form-group-lg.label-static label.control-label, .form-group.form-group-lg.label-floating.is-focused label.control-label, .form-group.form-group-lg.label-floating:not(.is-empty) label.control-label {
    font-size: 14px;
    left: 0;
    line-height: 1.0;
    top: -32px;
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
    font-size: 14px;
    left: 0;
    line-height: 1.0;
    top: -32px;
}

.form-group.is-focused select.form-control {
    border-color: #D2D2D2;
    box-shadow: none;
}

select.form-control[multiple], .form-group.is-focused select.form-control[multiple] { height: 85px; }

.input-group-btn .btn { margin: 0 0 7px 0; }

.form-group.form-group-sm .input-group-btn .btn { margin: 0 0 3px 0; }

.form-group.form-group-lg .input-group-btn .btn { margin: 0 0 9px 0; }

.input-group .input-group-btn { padding: 0 12px; }

.input-group .input-group-addon {
    background: transparent;
    border: 0;
    padding: 12px 15px 0;
}

.form-group input[type=file] {
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.form-control-feedback { opacity: 0; }

.has-success .form-control-feedback {
    color: #4caf50;
    opacity: 1;
}

.pagination > li > a,
.pagination > li > span {
    background: transparent;
    border: 0;
    border-radius: 30px !important;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    min-width: 30px;
    padding: 0 11px;
    text-transform: uppercase;
    transition: all .3s;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus { color: #999999; }

.pagination > .active > a,
.pagination > .active > span { color: #999999; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3498db;
    border-color: #3498db;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.pagination.pagination-info > .active > a, .pagination.pagination-info > .active > a:focus, .pagination.pagination-info > .active > a:hover,
.pagination.pagination-info > .active > span,
.pagination.pagination-info > .active > span:focus,
.pagination.pagination-info > .active > span:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.pagination.pagination-success > .active > a, .pagination.pagination-success > .active > a:focus, .pagination.pagination-success > .active > a:hover,
.pagination.pagination-success > .active > span,
.pagination.pagination-success > .active > span:focus,
.pagination.pagination-success > .active > span:hover {
    background-color: #4caf50;
    border-color: #4caf50;
}

.pagination.pagination-warning > .active > a, .pagination.pagination-warning > .active > a:focus, .pagination.pagination-warning > .active > a:hover,
.pagination.pagination-warning > .active > span,
.pagination.pagination-warning > .active > span:focus,
.pagination.pagination-warning > .active > span:hover {
    background-color: #fbc02d;
    border-color: #fbc02d;
}

.pagination.pagination-danger > .active > a, .pagination.pagination-danger > .active > a:focus, .pagination.pagination-danger > .active > a:hover,
.pagination.pagination-danger > .active > span,
.pagination.pagination-danger > .active > span:focus,
.pagination.pagination-danger > .active > span:hover {
    background-color: #f44336;
    border-color: #f44336;
}

.label {
    border-radius: 3px;
    font-size: 10px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.nav-pills > li > a {
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
}

.nav-pills > li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #9c27b0;
    box-shadow: 0 16px 38px -12px #000000, 0 4px 25px 0 #000000, 0 8px 10px -5px #000000;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.nav-pills.nav-pills-info > li.active > a, .nav-pills.nav-pills-info > li.active > a:focus, .nav-pills.nav-pills-info > li.active > a:hover { background-color: #03a9f4; }

.nav-pills.nav-pills-success > li.active > a, .nav-pills.nav-pills-success > li.active > a:focus, .nav-pills.nav-pills-success > li.active > a:hover { background-color: #4caf50; }

.nav-pills.nav-pills-warning > li.active > a, .nav-pills.nav-pills-warning > li.active > a:focus, .nav-pills.nav-pills-warning > li.active > a:hover { background-color: #fbc02d; }

.nav-pills.nav-pills-danger > li.active > a, .nav-pills.nav-pills-danger > li.active > a:focus, .nav-pills.nav-pills-danger > li.active > a:hover { background-color: #f44336; }

legend {
    border-bottom: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar { border: 0; }

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus { color: inherit; }

.navbar .navbar-nav > li > .dropdown-menu { margin-top: -20px; }

.navbar .navbar-nav > li.open > .dropdown-menu { margin-top: 0; }

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
}

.navbar .navbar-nav > .disabled > a, .navbar .navbar-nav > .disabled > a:hover, .navbar .navbar-nav > .disabled > a:focus {
    background-color: transparent;
    color: inherit;
    opacity: 0.9;
}

.navbar .navbar-toggle { border: 0; }

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus { background-color: transparent; }

.navbar .navbar-toggle .icon-bar {
    background-color: inherit;
    border: 1px solid;
}

.navbar .navbar-default .navbar-toggle,
.navbar .navbar-inverse .navbar-toggle { border-color: transparent; }

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-top: none;
    box-shadow: none;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: inherit;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .navbar-text {
        color: inherit;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
        border: 0;
        color: inherit;
    }

    .navbar .navbar-nav .open .dropdown-menu .divider {
        border-bottom: 1px solid;
        opacity: 0.08;
    }

    .navbar .navbar-nav .open .dropdown-menu > li > a { color: inherit; }

    .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: transparent;
        color: inherit;
    }

    .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: transparent;
        color: inherit;
    }

    .navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        background-color: transparent;
        color: inherit;
    }
}

.navbar .navbar-link { color: inherit; }

.navbar .navbar-link:hover { color: inherit; }

.navbar .btn {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar .btn-link { color: inherit; }

.navbar .btn-link:hover, .navbar .btn-link:focus { color: inherit; }

.navbar .btn-link[disabled]:hover, .navbar .btn-link[disabled]:focus, fieldset[disabled] .navbar .btn-link:hover, fieldset[disabled] .navbar .btn-link:focus { color: inherit; }

.navbar .navbar-form { margin-top: 16px; }

.navbar .navbar-form .form-group {
    margin: 0;
    padding: 0;
}

.navbar .navbar-form .form-group .material-input:before, .navbar .navbar-form .form-group.is-focused .material-input:after { background-color: inherit; }

.navbar .navbar-form .form-group .form-control,
.navbar .navbar-form .form-control {
    border-color: inherit;
    color: inherit;
    font-size: 14px;
    height: 28px;
    line-height: 1.42857;
    margin: 0;
    padding: 0;
}

.navbar .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar .navbar-form input.form-control::-moz-placeholder, .navbar.navbar-default .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-default .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar .navbar-form input.form-control:-ms-input-placeholder, .navbar.navbar-default .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-default .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar .navbar-form input.form-control::-webkit-input-placeholder, .navbar.navbar-default .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-default .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar .dropdown-menu, .navbar.navbar-default .dropdown-menu { border-radius: 0 !important; }

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus {
    background-color: #3498db;
    color: #FFFFFF;
}

.navbar .dropdown-menu .active > a, .navbar.navbar-default .dropdown-menu .active > a {
    background-color: #3498db;
    color: #ffffff;
}

.navbar .dropdown-menu .active > a:hover, .navbar .dropdown-menu .active > a:focus, .navbar.navbar-default .dropdown-menu .active > a:hover, .navbar.navbar-default .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar.navbar-inverse {
    background-color: #3f51b5;
}


.navbar.navbar-inverse .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-inverse .dropdown-menu li > a:hover, .navbar.navbar-inverse .dropdown-menu li > a:focus {
    background-color: #3f51b5;
    color: #FFFFFF;
}

.navbar.navbar-inverse .dropdown-menu .active > a {
    background-color: #3f51b5;
}


.navbar.navbar-primary {
    background-color: #9c27b0;
    color: #ffffff;
}

.navbar.navbar-primary .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-primary .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar.navbar-primary .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-primary .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar.navbar-primary .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-primary .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar.navbar-primary .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-primary .dropdown-menu li > a:hover, .navbar.navbar-primary .dropdown-menu li > a:focus {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.navbar.navbar-primary .dropdown-menu .active > a {
    background-color: #9c27b0;
    color: #ffffff;
}

.navbar.navbar-primary .dropdown-menu .active > a:hover, .navbar.navbar-primary .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar.navbar-success {
    background-color: #4caf50;
    color: #ffffff;
}

.navbar.navbar-success .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-success .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar.navbar-success .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-success .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar.navbar-success .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-success .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar.navbar-success .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-success .dropdown-menu li > a:hover, .navbar.navbar-success .dropdown-menu li > a:focus {
    background-color: #4caf50;
    color: #FFFFFF;
}

.navbar.navbar-success .dropdown-menu .active > a {
    background-color: #4caf50;
    color: #ffffff;
}

.navbar.navbar-success .dropdown-menu .active > a:hover, .navbar.navbar-success .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar.navbar-info {
    background-color: #03a9f4;
    color: #ffffff;
}

.navbar.navbar-info .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-info .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar.navbar-info .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-info .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar.navbar-info .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-info .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar.navbar-info .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-info .dropdown-menu li > a:hover, .navbar.navbar-info .dropdown-menu li > a:focus {
    background-color: #03a9f4;
    color: #FFFFFF;
}

.navbar.navbar-info .dropdown-menu .active > a {
    background-color: #03a9f4;
    color: #ffffff;
}

.navbar.navbar-info .dropdown-menu .active > a:hover, .navbar.navbar-info .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar.navbar-warning {
    background-color: #fbc02d;
    color: #ffffff;
}

.navbar.navbar-warning .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-warning .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar.navbar-warning .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-warning .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar.navbar-warning .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-warning .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar.navbar-warning .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-warning .dropdown-menu li > a:hover, .navbar.navbar-warning .dropdown-menu li > a:focus {
    background-color: #fbc02d;
    color: #FFFFFF;
}

.navbar.navbar-warning .dropdown-menu .active > a {
    background-color: #fbc02d;
    color: #ffffff;
}

.navbar.navbar-warning .dropdown-menu .active > a:hover, .navbar.navbar-warning .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar.navbar-danger {
    background-color: #f44336;
    color: #ffffff;
}

.navbar.navbar-danger .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-danger .navbar-form input.form-control::-moz-placeholder { color: #ffffff; }

.navbar.navbar-danger .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-danger .navbar-form input.form-control:-ms-input-placeholder { color: #ffffff; }

.navbar.navbar-danger .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-danger .navbar-form input.form-control::-webkit-input-placeholder { color: #ffffff; }

.navbar.navbar-danger .dropdown-menu { border-radius: 3px !important; }

.navbar.navbar-danger .dropdown-menu li > a:hover, .navbar.navbar-danger .dropdown-menu li > a:focus {
    background-color: #f44336;
    color: #FFFFFF;
}

.navbar.navbar-danger .dropdown-menu .active > a {
    background-color: #f44336;
    color: #ffffff;
}

.navbar.navbar-danger .dropdown-menu .active > a:hover, .navbar.navbar-danger .dropdown-menu .active > a:focus { color: #ffffff; }

.navbar-inverse { background-color: #3f51b5; }

.navbar.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
}

.navbar-fixed-top { border-radius: 0; }

@media (max-width: 1199px) {
    .navbar .navbar-brand {
        height: 50px;
        padding: 10px 15px;
    }

    .navbar .navbar-form { margin-top: 10px; }
}

.navbar .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    transition: all 0.3s;
    width: 100%;
    z-index: 3;
}

.dropdown-menu {
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: block;
    margin-top: -20px;
    opacity: 0;
    transition: all 150ms linear;
    visibility: hidden;
}

.open .dropdown-menu {
    margin-top: 1px;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu .divider { background-color: rgba(0, 0, 0, 0.12); }

.dropdown-menu li > a {
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    border-radius: 2px;
    font-size: 13px;
    padding: 10px 20px;
    transition: all 150ms linear;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.dropdown-menu li { position: relative; }

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.dropdown-menu .divider { margin: 5px 0; }

.alert {
    border: 0;
    border-radius: 0;
    line-height: 20px;
    padding: 20px 15px;
}

.alert b {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.alert, .alert.alert-default {
    background-color: white;
    color: #ffffff;
}

.alert a, .alert .alert-link, .alert.alert-default a, .alert.alert-default .alert-link { color: #ffffff; }

.alert.alert-inverse {
    background-color: #4558be;
}

.alert.alert-primary {
    background-color: #a72abd;
    color: #ffffff;
}

.alert.alert-primary a, .alert.alert-primary .alert-link { color: #ffffff; }

.alert.alert-success {
    background-color: #55b559;
    color: #ffffff;
}

.alert.alert-success a, .alert.alert-success .alert-link { color: #ffffff; }

.alert.alert-info {
    background-color: #0ab1fc;
    color: #ffffff;
}

.alert.alert-info a, .alert.alert-info .alert-link { color: #ffffff; }

.alert.alert-warning {
    background-color: #fbc53c;
    color: #ffffff;
}

.alert.alert-warning a, .alert.alert-warning .alert-link { color: #ffffff; }

.alert.alert-danger {
    background-color: #f55145;
    color: #ffffff;
}

.alert.alert-danger a, .alert.alert-danger .alert-link { color: #ffffff; }

.alert-info, .alert-danger, .alert-warning, .alert-success { color: #ffffff; }

.alert-default a, .alert-default .alert-link { color: rgba(0, 0, 0, 0.87); }

.alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
}

.alert .alert-icon i {
    margin-top: -7px;
    position: relative;
    top: 5px;
}

.progress {
    background: #DDDDDD;
    border-radius: 0;
    box-shadow: none;
    height: 4px;
}

.progress .progress-bar { box-shadow: none; }

.progress .progress-bar, .progress .progress-bar.progress-bar-default { background-color: #9c27b0; }

.progress .progress-bar.progress-bar-inverse { background-color: #3f51b5; }

.progress .progress-bar.progress-bar-primary { background-color: #9c27b0; }

.progress .progress-bar.progress-bar-success { background-color: #4caf50; }

.progress .progress-bar.progress-bar-info { background-color: #03a9f4; }

.progress .progress-bar.progress-bar-warning { background-color: #fbc02d; }

.progress .progress-bar.progress-bar-danger { background-color: #f44336; }

.progress.progress-line-primary { background: rgba(156, 39, 176, 0.2); }

.progress.progress-line-info { background: rgba(3, 169, 244, 0.2); }

.progress.progress-line-success { background: rgba(76, 175, 80, 0.2); }

.progress.progress-line-warning { background: rgba(251, 192, 45, 0.2); }

.progress.progress-line-danger { background: rgba(244, 67, 54, 0.2); }

h1, .h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2, .h2 { font-size: 2.6em; }

h3, .h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

h5, .h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 1em;
    text-transform: uppercase;
}

.text-warning { color: #fbc02d; }

.text-primary { color: #9c27b0; }

.text-danger {
    color: #f44336;
    font-size: 16px;
    text-align: left;
}

.text-success { color: #4caf50; }

.text-info { color: #03a9f4; }

.nav-tabs {
    background: #9c27b0;
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav-tabs > li > a {
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border: 0;
}

.nav-tabs > li.disabled > a, .nav-tabs > li.disabled > a:hover { color: rgba(255, 255, 255, 0.5); }

.nav-tabs > li .material-icons { margin: -1px 5px 0 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s;
}

.popover, .tooltip-inner {
    background: #FFFFFF;
    border: none;
    border-radius: 3px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    color: #555555;
}

.popover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.popover.left > .arrow, .popover.right > .arrow, .popover.top > .arrow, .popover.bottom > .arrow { border: none; }

.popover-title {
    background-color: #FFFFFF;
    border: none;
    font-size: 1.3em;
    padding: 15px 15px 5px;
}

.popover-content {
    line-height: 1.4;
    padding: 10px 15px 15px;
}

.tooltip, .tooltip.in { opacity: 1; }

.tooltip.left .tooltip-arrow { border-left-color: #FFFFFF; }

.tooltip.right .tooltip-arrow { border-right-color: #FFFFFF; }

.tooltip.top .tooltip-arrow { border-top-color: #FFFFFF; }

.tooltip.bottom .tooltip-arrow { border-bottom-color: #FFFFFF; }

.tooltip-inner {
    min-width: 130px;
    padding: 10px 15px;
}

.carousel .carousel-control { width: 50%; }

.carousel .carousel-control.left, .carousel .carousel-control.right { background-image: none; }

.carousel .carousel-control .material-icons,
.carousel .carousel-control .fa { display: none; }

.carousel .left { cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important; }

.carousel .right { cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important; }

.carousel .carousel-indicators { bottom: 5px; }

.carousel .carousel-indicators li,
.carousel .carousel-indicators .active { margin: 11px 10px; }

.carousel .carousel-indicators li {
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.carousel .carousel-indicators .active {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transform: scale(1.5);
}

.carousel .carousel-caption { padding-bottom: 45px; }

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    position: relative;
    width: 100%;
}

.card .card-height-indicator { margin-top: 100%; }

.card .card-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card .card-image {
    height: 60%;
    overflow: hidden;
    position: relative;
}

.card .card-image img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 100%;
    pointer-events: none;
    width: 100%;
}

.card .card-image .card-image-headline {
    bottom: 16px;
    color: #fff;
    font-size: 2em;
    left: 18px;
    position: absolute;
}

.card .content { padding: 15px; }

.card .card-body {
    height: 30%;
    padding: 18px;
}

.card .card-footer {
    height: 10%;
    padding: 18px;
}

.card .card-footer button, .card .card-footer a {
    bottom: 25px;
    margin: 0 !important;
    position: relative;
    width: auto;
}

.card .card-footer button:first-child, .card .card-footer a:first-child { left: -15px; }

.card .header {
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px 0;
}

.card .header-primary { background: linear-gradient(60deg, #ab47bc, #7b1fa2); }

.card .header-info { background: linear-gradient(60deg, #29b6f6, #0288d1); }

.card .header-success { background: linear-gradient(60deg, #66bb6a, #388e3c); }

.card .header-warning { background: linear-gradient(60deg, #fdd835, #fbc02d); }

.card .header-danger { background: linear-gradient(60deg, #ef5350, #d32f2f); }

.card [class*="header-"] { color: #FFFFFF; }

.card-raised { box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
}

.card-signup .text-divider {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.card-signup .content { padding: 0 30px 0 10px; }

.card-signup .checkbox { margin-top: 20px; }

.card-signup .checkbox label { margin-left: 17px; }

.card-signup .checkbox .checkbox-material { padding-right: 12px; }

.card-signup .social-line {
    margin-top: 15px;
    text-align: center;
}

.card-signup .social-line .btn {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.card-nav-tabs { margin-top: 45px; }

.card-nav-tabs .header { margin-top: -30px; }

.card-nav-tabs .nav-tabs { background: transparent; }

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .header {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .content {
    padding-left: 0;
    padding-right: 0;
}

.modal-content {
    border: none;
    border-radius: 3px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.modal-content .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.modal-content .modal-body {
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.modal-content .modal-footer {
    border-top: none;
    padding: 7px;
}

.modal-content .modal-footer button {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
}

.modal-content .modal-footer button.pull-left {
    left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.modal-content .modal-footer button + button { margin-bottom: 16px; }

.modal-content .modal-body + .modal-footer { padding-top: 0; }

.modal-backdrop { background: rgba(0, 0, 0, 0.3); }

.modal .modal-dialog { margin-top: 100px; }

.modal .modal-header .close { color: #555555; }

.modal .modal-header .close:hover, .modal .modal-header .close:focus {
    color: #555555;
    opacity: 1;
}

.panel {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.panel > .panel-heading, .panel.panel-default > .panel-heading { background-color: #eeeeee; }

.panel.panel-inverse > .panel-heading { background-color: #3f51b5; }

.panel.panel-primary > .panel-heading { background-color: #9c27b0; }

.panel.panel-success > .panel-heading { background-color: #4caf50; }

.panel.panel-info > .panel-heading { background-color: #03a9f4; }

.panel.panel-warning > .panel-heading { background-color: #fbc02d; }

.panel.panel-danger > .panel-heading { background-color: #f44336; }

[class*="panel-"] > .panel-heading {
    border: 0;
    color: #ffffff;
}

.panel-default > .panel-heading, .panel:not([class*="panel-"]) > .panel-heading { color: rgba(0, 0, 0, 0.87); }

.panel-footer { background-color: #eeeeee; }

hr.on-dark { color: #1a1a1a; }

hr.on-light { color: white; }

@media (-webkit-min-device-pixel-ratio: 0.75), (min--moz-device-pixel-ratio: 0.75), (-o-device-pixel-ratio: 3/4), (min-device-pixel-ratio: 0.75), (min-resolution: 0.75dppx), (min-resolution: 120dpi) {
    hr { height: 0.75px; }
}

@media (-webkit-min-device-pixel-ratio: 1), (min--moz-device-pixel-ratio: 1), (-o-device-pixel-ratio: 1), (min-device-pixel-ratio: 1), (min-resolution: 1dppx), (min-resolution: 160dpi) {
    hr { height: 1px; }
}

@media (-webkit-min-device-pixel-ratio: 1.33), (min--moz-device-pixel-ratio: 1.33), (-o-device-pixel-ratio: 133/100), (min-device-pixel-ratio: 1.33), (min-resolution: 1.33dppx), (min-resolution: 213dpi) {
    hr { height: 1.333px; }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 240dpi) {
    hr { height: 1.5px; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 380dpi) {
    hr { height: 2px; }
}

@media (-webkit-min-device-pixel-ratio: 3), (min--moz-device-pixel-ratio: 3), (-o-device-pixel-ratio: 3/1), (min-device-pixel-ratio: 3), (min-resolution: 3dppx), (min-resolution: 480dpi) {
    hr { height: 3px; }
}

@media (-webkit-min-device-pixel-ratio: 4), (min--moz-device-pixel-ratio: 4), (-o-device-pixel-ratio: 4/1), (min-device-pixel-ratio: 3), (min-resolution: 4dppx), (min-resolution: 640dpi) {
    hr { height: 4px; }
}

.img-thumbnail { border-radius: 16px; }

.img-raised { box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*:focus { outline: 0; }

a:focus, a:active,
button:active, button:focus, button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { outline: 0 !important; }

.section-navbars { padding-bottom: 0; }

.section-full-screen { height: 100vh; }

.section-signup { padding-top: 20vh; }

.noUi-target,
.noUi-target * {
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
    user-select: none;
}

.noUi-base {
    height: 100%;
    position: relative;
    width: 100%;
}

.noUi-origin {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.noUi-handle {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle { z-index: 10; }

.noUi-state-tap .noUi-origin { transition: left 0.3s, top 0.3s; }

.noUi-state-drag * { cursor: inherit !important; }

.noUi-horizontal { height: 10px; }

.noUi-handle {
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    cursor: pointer;
    height: 14px;
    left: -10px;
    top: -6px;
    transition: all 0.2s ease-out;
    width: 14px;
}

.noUi-vertical .noUi-handle {
    cursor: ns-resize;
    margin-left: 5px;
}

.noUi-horizontal.noUi-extended { padding: 0 15px; }

.noUi-horizontal.noUi-extended .noUi-origin { right: -15px; }

.noUi-background {
    height: 2px;
    margin: 20px 0;
}

.noUi-origin {
    background: #c8c8c8;
    border-radius: 0;
    height: 2px;
    margin: 0;
}

.noUi-origin[style^="left: 0"] .noUi-handle {
    background-color: #fff;
    border: 2px solid #c8c8c8;
}

.noUi-origin[style^="left: 0"] .noUi-handle.noUi-active { border-width: 1px; }

.noUi-target { border-radius: 3px; }

.noUi-horizontal {
    height: 2px;
    margin: 15px 0;
}

.noUi-vertical {
    display: inline-block;
    height: 100%;
    margin: 0 15px;
    width: 2px;
}

.noUi-handle.noUi-active { transform: scale3d(2, 2, 1); }

[disabled].noUi-slider { opacity: 0.5; }

[disabled] .noUi-handle { cursor: not-allowed; }

.slider { background: #c8c8c8; }

.slider.noUi-connect { background-color: #9c27b0; }

.slider .noUi-handle { border-color: #9c27b0; }

.slider.slider-info .noUi-connect, .slider.slider-info.noUi-connect { background-color: #03a9f4; }

.slider.slider-info .noUi-handle { border-color: #03a9f4; }

.slider.slider-success .noUi-connect, .slider.slider-success.noUi-connect { background-color: #4caf50; }

.slider.slider-success .noUi-handle { border-color: #4caf50; }

.slider.slider-warning .noUi-connect, .slider.slider-warning.noUi-connect { background-color: #fbc02d; }

.slider.slider-warning .noUi-handle { border-color: #fbc02d; }

.slider.slider-danger .noUi-connect, .slider.slider-danger.noUi-connect { background-color: #f44336; }

.slider.slider-danger .noUi-handle { border-color: #f44336; }

.dropdownjs::after {
    color: #757575;
    content: "\e5c5";
    font-family: 'Material Icons';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 3px;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

/*
 *
 *   SCSS by Creative Tim
 *   http://www.creative-tim.com
 *
 */

.datepicker {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}

.datepicker > div { display: none; }

.datepicker table {
    margin: 0;
    width: 100%;
}

.datepicker td,
.datepicker th {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 20px;
    text-align: center;
    width: 20px;
}

.datepicker td { text-align: center; }

.datepicker td p {
    border-radius: 50%;
    font-size: 1em;
    font-weight: 400;
    height: 29px;
    line-height: 29px;
    margin: 3px 0 8px;
    width: 29px;
}

.datepicker td :hover { cursor: pointer; }

.datepicker th { font-weight: 500; }

.datepicker th.switch-datepicker { font-size: 1em; }

.datepicker .prev p,
.datepicker .next p { font-size: 1.825em; }

.datepicker p:hover { background: #eeeeee; }

.datepicker .day.disabled { color: #eeeeee; }

.datepicker td.old,
.datepicker td.new {
    border-top: 0;
    color: #999999;
}

.datepicker td.active p,
.datepicker td.active:hover p {
    background-color: #9c27b0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.datepicker td.primary p,
.datepicker td.primary:hover p { background-color: #9c27b0; }

.datepicker td.info p,
.datepicker td.info:hover p { background-color: #03a9f4; }

.datepicker td.success p,
.datepicker td.success:hover p { background-color: #4caf50; }

.datepicker td.warning p,
.datepicker td.warning:hover p { background-color: #fbc02d; }

.datepicker td.danger p,
.datepicker td.danger:hover p { background-color: #f44336; }

.datepicker span {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    height: 54px;
    line-height: 54px;
    margin: 2px;
    width: 55px;
}

.datepicker span.old { color: #999999; }

.datepicker span.active, .datepicker span.active:focus, .datepicker span.active:hover, .datepicker span.active:active {
    background-color: #9c27b0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.datepicker span.active { color: #FFFFFF; }

.datepicker span:hover { background-color: #EEEEEE; }

.datepicker span.primary,
.datepicker span.primary:hover { background-color: #9c27b0; }

.datepicker span.info,
.datepicker span.info:hover { background-color: #03a9f4; }

.datepicker span.success,
.datepicker span.success:hover { background-color: #4caf50; }

.datepicker span.warning,
.datepicker span.warning:hover { background-color: #fbc02d; }

.datepicker span.danger,
.datepicker span.danger:hover { background-color: #f44336; }

.datepicker th.switch-datepicker { width: 145px; }

.datepicker th.next,
.datepicker th.prev { font-size: 21px; }

.datepicker thead tr:first-child th { cursor: pointer; }

.datepicker thead tr:first-child th:hover { background: #eeeeee; }

.datepicker.dropdown-menu {
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    border-radius: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
    opacity: 0;
    transition: all 150ms linear;
    visibility: hidden;
}

.datepicker.dropdown-menu.open {
    margin-top: 1px;
    opacity: 1;
    visibility: visible;
}

.datepicker .table-condensed > tbody > tr > td { padding: 2px; }

.datepicker .table-condensed > thead > tr > th { padding: 0; }

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}

.datepicker-months thead {
    display: block;
    padding: 0 0 3px;
}

.withripple { position: relative; }

.ripple-container {
    border-radius: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.ripple {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(1);
    transform-origin: 50%;
    width: 20px;
}

.ripple.ripple-on {
    opacity: 0.1;
    transition: opacity 0.15s ease-in 0, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.ripple.ripple-out {
    opacity: 0;
    transition: opacity 0.1s linear 0 !important;
}

.wrapper > .header {
    background-position: center center;
    background-size: cover;
    min-height: 300px;
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.main-raised {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -60px 30px 0;
}

.title {
    color: #3C4858;
    font-weight: 500;
}

h2.title { margin-bottom: 30px; }

.description { color: #999999; }

.header-filter { position: relative; }

.header-filter:after {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-filter .container {
    position: relative;
    z-index: 2;
}

.gallery .image img { width: 100%; }

.features { padding: 80px 0 0; }

.features .feature {
    margin: 0 auto;
    max-width: 360px;
}

.features .feature > i { font-size: 60px; }

.features .feature h4 {
    color: #3C4858;
    margin: 30px 0 15px;
}

.features .feature.feature-primary > i { color: #9c27b0; }

.features .feature.feature-info > i { color: #03a9f4; }

.features .feature.feature-success > i { color: #4caf50; }

.features .feature.feature-warning > i { color: #fbc02d; }

.features .feature.feature-danger > i { color: #f44336; }

.team { margin-top: 80px; }

.team .team-player .title { margin: 30px auto; }

.team .team-player img { max-width: 170px; }

.nav-align-center { text-align: center; }

.nav-align-center .nav-pills { display: inline-block; }

.navbar-absolute {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 1031;
}

.index-page .wrapper > .header { height: 90vh; }

.index-page .brand {
    color: #FFFFFF;
    margin-top: 30vh;
    text-align: center;
}

.index-page .brand h1 {
    font-size: 4.8em;
    font-weight: 600;
}

.index-page .brand h3 {
    font-size: 1.5em;
    margin: 10px auto 0;
    max-width: 400px;
    text-transform: uppercase;
}

.index-page .section-basic { padding-top: 15px; }

.index-page .header-filter:after {
    background: rgba(101, 47, 142, 0.64);
    background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    background: -moz-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
}

.landing-page .header { height: 100vh; }

.landing-page .header .container {
    color: #FFFFFF;
    padding-top: 26vh;
}

.landing-page .header .share { margin-top: 150px; }

.landing-page .header h1 { font-weight: 600; }

.landing-page .header .title { color: #FFFFFF; }

.landing-page .wrapper { background: #CCCCCC; }

.profile-page .header {
    background-position: top center;
    height: 380px;
}

.profile-page .profile { text-align: center; }

.profile-page .profile img {
    margin: -80px auto 0;
    max-width: 160px;
}

.profile-page .description {
    margin: 30px auto 0;
    max-width: 600px;
}

.profile-page .profile-tabs { margin-top: 60px; }

.profile-page .gallery {
    margin-top: 45px;
    padding-bottom: 50px;
}

.profile-page .gallery img {
    margin-bottom: 30px;
    width: 100%;
}

.signup-page .wrapper > .header { min-height: 100vh; }

.signup-page .wrapper .card-signup { margin: 160px 0 40px; }

.signup-page .footer .copyright,
.signup-page .footer a { color: #FFFFFF; }

.landing-page .navbar-transparent,
.profile-page .navbar-transparent,
.signup-page .navbar-transparent,
.index-page .navbar-transparent { padding-top: 25px; }

@media (max-width: 768px) {
    .footer .copyright {
        display: inline-block;
        float: none !important;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .navbar.navbar-transparent {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0;
        padding-top: 10px;
    }

    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}