
@media (max-width: 1242px) and (min-width: 994px) {
    .navbar-right {
        display: block;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .manage-buttons-group {
        padding: 2px;
    }

    .medium-title {
        font-size: 18px;
    }

    .order-cost-block {
        width: 200px;
    }

    .navbar-default.affix .navbar-brand {
        padding: 3px 0;
    }

    .navbar-default .navbar-nav {
        margin: 15px 0 5px 20px;
    }

        .navbar-default .navbar-nav > li > a {
            padding: 10px 5px;
        }

    .navbar-default.affix .navbar-nav > li > a,
    .navbar-default.affix .navbar-nav > li > a:focus {
        padding: 10px 5px;
    }

    .navbar .navbar-brand {
        padding: 10px 0;
    }

    .search-container h1 {
        font-size: 40px;
    }

    .search-container h2 {
        font-size: 22px;
    }

    .search-container .form-group {
        margin-bottom: 10px !important;
    }

    .search-container .btn {
        width: 100%;
    }

    .f-category h3 {
        font-size: 14px;
    }

    .manager-resumes-item .manager-content .manager-info .manager-name {
        float: none;
    }

    .manager-resumes-item .manager-content .manager-info .manager-meta {
        float: left;
        text-align: left;
    }

        .manager-resumes-item .manager-content .manager-info .manager-meta span {
            font-size: 13px;
            display: inline-block;
        }

    .full-time {
        margin-left: 10px;
    }

    .manager-resumes-item .manager-content .manager-info .manager-name h4 {
        font-size: 18px;
    }

    .bottom-social-icons a {
        width: 32px;
        height: 32px;
        line-height: 34px;
    }

    .subscribe-box input[type="text"] {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    
    .additional-info-block textarea {
        width: 400px;
        height: 350px;
    }

    .invite-description {
        padding: 10px 20px;
    }

    .float-right li.left {
        display: none;
    }
}

@media (max-width: 780px) {
    .order-cost-block {
        padding: 20px 30px;
    }
}

@media (max-width: 768px) {

    

    .additional-info-block textarea {
        width: 500px;
        height: 350px;
    }

    .image-save-block {
        margin-bottom: 16px;
    }

    .image-part-main-block {
        width: 300px;
    }
    
    .rating-section {
        padding: 5px 0;
    }

    .enlargeImageModalSource {
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }

    .ratting-button {
        margin-right: 0;
    }

    .order-submit-btn-block {
        padding: 0;
    }

    .employer-order-block {
        margin-top: 10px;
    }

    .search-container .form-group {
        margin-bottom: 10px !important;
    }

    .search-container .btn {
        width: 100%;
    }
}

@media (max-width: 700px) and (min-width: 640px) {
    .order-submit-btn-block {
        margin-left: 77%;
    }

    a.compItem.btn.btn-common.btn-sm {
        padding: 5px 13px;
    }
}

@media (max-width: 640px) {

    .error-page-block .error-body {
        text-align: center;
        margin-top: 130px !important;
    }

    .invite-button {
        padding: 6px 15px !important;
        font-size: 15px;
    }

    .additional-info-block textarea {
        width: 430px;
        height: 370px;
    }


    .enlargeImageModalSource {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .order-submit-btn-block {
        margin-left: 87%;
        width: 0;
    }

    .order-finish-radiobutton-block {
        float: left;
        padding: 0 18px;
        font-size: 15px;
    }

    .manage-buttons-group {
        padding-top: 30px;
    }

    .service-header-content .medium-title {
        float: initial;
    }

    .manage-buttons-group .btn-common {
        padding: 5px 33px;
    }


    .navbar-default.affix .navbar-brand {
        padding: 7px 15px;
    }

    .navbar .navbar-brand {
        padding: 7px 15px;
    }

    .section-title {
        font-size: 20px;
    }

    .medium-title {
        font-size: 18px;
    }

    .search-container h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .search-container h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .search-container .form-group {
        margin-bottom: 10px !important;
    }

    .search-container .btn {
        width: 100%;
    }

    .search-category-container {
        margin-bottom: 10px !important;
    }

    .popular-jobs {
        display: none;
    }

    .job-list .thumb {
        float: none;
        margin-bottom: 20px;
    }

    .job-list .job-list-content {
        margin-left: 0;
    }

        .job-list .job-list-content h4 {
            font-size: 16px;
            line-height: 28px;
        }

    .job-list .job-tag .meta-tag span {
        font-size: 11px;
        margin-right: 5px;
    }

    .job-list .job-tag .meta-tag {
        margin-bottom: 10px;
    }

    .find-job .pagination > li > a,
    .find-job .pagination > li > span {
        margin-right: 4px;
    }
}

@media (max-width: 570px) and (min-width: 480px) {

    .additional-info-block textarea {
        width: 365px;
        height: 370px;
    }

    a.employer-link-history {
        padding-right: 52px;
    }
    
    .order-submit-btn-block {
        margin-left: 91%;
        width: 0;
    }
} 

@media (max-width: 480px) and (min-width: 320px) {

    .additional-info-block textarea {
        width: 240px;
        height: 400px;
    }

    .manage-buttons-group {
        padding-top: 30px;
    }

    .navbar-default.affix .navbar-brand {
        padding: 7px 15px;
    }

    .navbar .navbar-brand {
        padding: 7px 15px;
    }

    .section-title {
        font-size: 20px;
    }

    .medium-title {
        font-size: 18px;
    }

    .search-container {
        padding: 30px 0;
    }

        .search-container h1 {
            font-size: 24px;
            line-height: 36px;
        }

        .search-container h2 {
            font-size: 20px;
            line-height: 26px;
        }

        .search-container .form-group {
            margin-bottom: 10px !important;
        }

        .search-container .btn {
            width: 100%;
        }

    .search-category-container {
        margin-bottom: 10px !important;
    }

    .popular-jobs {
        display: none;
    }

    .job-list .thumb {
        float: none;
        margin-bottom: 20px;
    }

    .job-list .job-list-content {
        margin-left: 0;
    }

        .job-list .job-list-content h4 {
            font-size: 16px;
            line-height: 28px;
        }

    .job-list .job-tag .meta-tag span {
        font-size: 11px;
        margin-right: 5px;
    }

    .job-list .job-tag .meta-tag {
        margin-bottom: 10px;
    }

    .job-list .job-tag .pull-right {
        float: left !important;
    }

    .find-job .pagination > li > a,
    .find-job .pagination > li > span {
        margin-right: 4px;
    }

    .pagination > li > a,
    .pagination > li > span {
        max-width: 58px;
        padding: 0 7px;
        margin: 0 -1px;
        text-align: center;
    }

    .purchase .title-text {
        font-size: 22px;
    }

    .purchase p {
        font-size: 18px;
    }

    #testimonial .client-info {
        margin: 7px auto;
    }

        #testimonial .client-info .client-name {
            font-size: 12px;
        }

    #testimonial p {
        margin: 2px;
    }

        #testimonial p .quote-left,
        #testimonial p .quote-right {
            display: none;
        }

    .infobox .info-text h2 {
        font-size: 16px;
    }

    .infobox .btn {
        float: left;
    }

    .job-detail .text-left {
        margin-top: 15px;
    }

        .job-detail .text-left .btn {
            margin: 10px 0;
        }

    .my-resume .author-resume .thumb {
        float: none;
        margin-bottom: 15px;
    }

    .my-resume .author-resume .author-info {
        margin-left: 0;
    }

    .my-resume .item h4 {
        font-size: 14px;
        line-height: 22px;
    }

    .panel-default .panel-heading {
        padding: 0 10px;
    }

    .add-post-btn .btn-added {
        font-size: 11px;
    }

    .manager-resumes-item .manager-content .resume-thumb {
        float: none;
        margin-bottom: 10px;
    }

    .manager-resumes-item .manager-content .manager-info .manager-name {
        float: none;
    }

    .manager-resumes-item .manager-content .manager-info .manager-meta {
        float: none;
        text-align: left;
    }

    .manager-resumes-item .update-date {
        padding: 5px 10px;
    }

        .manager-resumes-item .update-date .action-btn {
            float: left;
        }

    .full-time {
        margin-left: 10px;
    }

    .job-alerts-item {
        padding: 15px;
    }

    .applications-content .thums {
        float: none;
    }

    .manager-resumes-item .manager-content {
        padding: 20px 15px;
    }

    .manager-resumes-item .item-body {
        padding: 20px 15px;
    }

    .blog-post .blog-author {
        margin-right: 10px;
    }

    .blog-post .post-content {
        padding: 30px 0;
    }

    .post-title {
        font-size: 20px;
    }

    .blog-post .post-content .meta .meta-part {
        margin-right: 5px;
    }

    #comments h3 {
        font-size: 16px;
    }

    #comments .comments-list li ul {
        padding-left: 0;
    }
}

@media (max-width: 480px) {

    .error-body p {
        font-size: 33px !important;
        font-weight: 600;
    }

    .image-save-block {
        margin-bottom: 16px;
        width: 233px;
    }

    .image-part-main-block {
        width: 200px;
    }

    a.employer-link-history {
        padding-right: 0;
    }
    

    .enlargeImageModalSource {
        width: 100%;
        margin: 0;
    }

    .order-submit-btn-block {
        margin-left: 100%;
        width: 0;
    }

    .finish-rating-label {
        float: initial;
    }

    .modal-content {
        height: 430px;
    }

    .employer-ratind-block {
        height: 356px;
    }

    .order-finish-radiobutton-block {
        float: left;
        padding: 0 15px;
        font-size: 15px;
    }

    .reason-title {
        float: initial;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .finish-rating-label {
        padding-bottom: 5px;
        font-size: 1.3em;
        line-height: 1.4em;
    }

    .ratind-message-area {
        margin-top: 10px;
        width: 100%;
        height: 90px;
    }

    .manage-buttons-group .btn-common {
        padding: 5px 20%;
    }

    a.compItem.btn.btn-common.btn-sm {
        padding: 5px 33%;
        margin-right: 22px;
        margin-top: 10px;
    }

    .rating-xs {
        font-size: 22px !important;
    }

    .rating-avatar-image {
        max-height: 100px;
        max-width: 100px;
    }
}

@media (max-width: 320px) {

   
    
    .manage-buttons-group .btn-common {
        padding: 5px 33px;
    }
}
