﻿@model JustWork.Model.OrdersViewModels.OrderViewModel

@{
    ViewBag.Title = "Create order page";
}

<div class="col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="page-order-form">
        @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="input-icon">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Order name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Budget, new { @class = "control-label" })
                <div class="input-icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", placeholder = "Budget" } })
                    @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                <div class="input-icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.StartDate, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @readonly = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new
               {
                   @class = "text-danger"
               })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })

                <div class="input-icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.EndDate, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @readonly = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div class="input-icon">
                    @Html.EditorFor(model => model.Description, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       placeholder = "Order Description",
                       maxlength = 1100
                   }
               })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="ImageFile" class="control-label">Order Image</label>
                <div class="input-icon">
                    <div class="input-group file-upload-input-group">
                        <span class="input-group-btn file-upload-button">
                            <span class="btn btn-common btn-file btn-file-upload">
                                Browse @Html.TextBoxFor(model => model.ImageFile, new
                                       {
                                           type = "file",
                                           accept = "image/*",
                                       })
                            </span>
                        </span>
                        <input type="text" class="form-control file-upload-textbox" readonly>
                    </div>
                    <div>
                        <img alt="order avatar" onerror="handleOrderErrorImage(this)" class="order-create-image order-image" id="avatar" style="visibility: hidden"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-common invite-button" />
            </div>
        }
    </div>
</div>
@Styles.Render("~/bundles/datePickerCss")
@Scripts.Render("~/bundles/datePickerJs")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/order")