﻿@model JustWork.Model.OrdersViewModels.OrderViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="page-order-form">
        @using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Customer.Id)
            @Html.HiddenFor(model => model.Id)
            if (Model.Employer != null)
             {
                 @Html.HiddenFor(model => model.Employer.Id)
             }
            @Html.HiddenFor(model => model.OrderStateDto.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="input-icon">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Order name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Budget, new { @class = "control-label" })
                <div class="input-icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.Budget, new {htmlAttributes = new {@class = "form-control", placeholder = "Budget" } })
                    @Html.ValidationMessageFor(model => model.Budget, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                <div class="input-icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.StartDate, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "true"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                
                <div class="input-icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    @Html.EditorFor(model => model.EndDate, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @readonly = "true"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div class="input-icon">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Order Description" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="ImageFile" class="control-label">Order Image</label>
                <div class="input-icon">
                    <div class="input-group file-upload-input-group">
                        <span class="input-group-btn file-upload-button">
                            <span class="btn btn-common btn-file btn-file-upload">
                                Browse @Html.TextBoxFor(model => model.ImageFile, new
                                       {
                                           type = "file",
                                           accept = "image/*",
                                       })
                            </span>
                        </span>
                        <input type="text" class="form-control file-upload-textbox" readonly>
                    </div>
                    @if (string.IsNullOrEmpty(@Model.ImagePath))
                    {
                        <div>
                            <img alt="order avatar" onerror="handleOrderErrorImage(this)" class="order-create-image order-image" id="avatar" style="visibility: hidden"/>
                        </div>
                    }
                    else
                    {
                        <div>
                            <img alt="order avatar" onerror="handleOrderErrorImage(this)" src="@Model.ImagePath" class="order-create-image order-image" id="avatar"/>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-common invite-button" />
            </div>
        }
    </div>
</div>
@Styles.Render("~/bundles/datePickerCss")
@Scripts.Render("~/bundles/datePickerJs")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/order")
<script>
    $(function () {
        const startDate = getDate($("#StartDate"));
        const endDate = getDate($("#EndDate"));
        var from;
        var to = $("#EndDate").datepicker({
            defaultDate: endDate
        })
            .on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

        from = $("#StartDate")
            .datepicker({
                defaultDate: startDate
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            });

        $("#EndDate").datepicker("option", "minDate", startDate);
        $("#StartDate").datepicker("option", "maxDate", endDate);

        const dateNow = new Date();
        if (startDate < dateNow) {
            $("#StartDate").datepicker("option", "minDate", startDate);
        } else {
            $("#StartDate").datepicker("option", "minDate", dateNow);
        }
    });
</script>