﻿@model JustWork.Model.OrdersViewModels.OrderIndexViewModel

@{
    ViewBag.Title = "Order List";
    ViewBag.ListName = "Workers";
}

<div class="col-md-3 col-xs-12 filter-panel">
    @Html.Partial("FilterPanel")
</div>

<div class="col-md-9 col-xs-12">
    <div class="container-fluid orderList">
        @Html.Partial("OrderPage/OrdersShow", Model)
    </div>
</div>

@Scripts.Render("~/bundles/indexOrder")