﻿@using System.Web.Mvc.Html
@using JustWork.Common
@using JustWork.Model.OrdersViewModels
@using JustWork.Website.Infastructure
@model OrderViewModel

@{
    ViewBag.Title = "Order Details";
    var customerLogin = Model.Customer.UserDto.Login;
    var currentUserLogin = User.Identity.Name;
    var isNewOrder = Model.OrderStateDto.Id == (int)OrderStates.New;
    var chechOnExistInvite = Model.OrderInvites.FirstOrDefault(inv => inv.Employer.UserDto.Login == currentUserLogin) == null;
    var currUserIsCutomer = customerLogin == currentUserLogin;
}
<section class="orderBody box">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Budget)
    <div class="container-fluid">
        <div class="row">
            <div class="service-header">
                <div class=" col-sm-12">
                    <div class="service-header-content">
                        <h2 class="medium-title">
                            @Model.Name
                        </h2>
                        <div class="manage-buttons-group">
                            @if (currUserIsCutomer)
                            {
                                if (isNewOrder)
                                {
                                    <a href="@Url.Action("Edit", new {id = Model.Id})" class="button btn-common btn-sm"><i class="ti-pencil"></i></a>
                                }
                                <a href="@Url.Action("Delete", new {id = Model.Id})" class="button btn-common btn-sm btn-trash"><i class="ti-trash"></i></a>
                                if (Model.OrderStateDto.Id == (int)OrderStates.InProgress)
                                {
                                    <a href="@Url.Action("FinishOrder", "Order", new {orderId = Model.Id})" class="compItem btn btn-common btn-sm">Finish Order</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-author">
                <div class="col-xs-12 col-sm-7">
                    <a href="@Url.Action("ViewProfile", "Account", new {login = customerLogin})" class="customer-link">
                        <img src="@Html.ImageOrDefaultAvatar(Model.Customer.Avatar.ImagePath)" onerror="onImageErrorHandler(this)" class="image customer-link img-circle customer-image" alt="Customer image" />
                    </a>
                    <div class="customer-description">
                        <a href="@Url.Action("ViewProfile", "Account", new {login = customerLogin})" class="customer-link">
                            <h4 class="title-text customer-link">@Model.Customer.Name</h4><p>@Model.Customer.RatingsDto.Count complete orders</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="order-cost-block">
                        <h2>Budget: $@Html.DisplayFor(item => Model.Budget) </h2>
                        <h4>Order state: <b class="order-state_@Model.OrderStateDto.Id">@Html.DisplayFor(item => Model.OrderStateDto.Name)</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <h2>Description: </h2>
                <p class="text-justify order-description">
                    @Html.DisplayFor(item => Model.Description)
                </p>
                <div>
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <div class = "order-show-image">
                            <img alt="order avatar" src="@Model.ImagePath" onerror="handleOrderErrorImage(this)" class="order-create-image order-image order-avatar-image-show" id="avatar" />
                        </div>
                        <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content avatar-modal-content">
                                    <div class="modal-body image-fullscreen-modal-body">
                                        <img src="" class="enlargeImageModalSource" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-5 col-xs-12 employer-order-block">
                @if (Model.Employer != null)
                {
                    <h4>
                        Employer: @Html.ActionLink(Model.Employer.Name, "ViewProfile", "Account",
                                      new { login = Model.Employer.UserDto.Login }, null)
                    </h4>
                }
                else
                {
                    <h3>
                        Employer: <b>in search</b>
                    </h3>
                }
                <p class="date-in-order">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    @Html.DisplayFor(item => Model.EndDate)
                </p>

                <div id="modDialog" class="modal fade">
                    <div id="dialogContent" class="modal-dialog">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.OrderStateDto.Id == (int)OrderStates.Complete || Model.OrderStateDto.Id == (int)OrderStates.Canceled)
{
    <hr />
    <section class="ratings">
        <div class="opinions-section-block">
            @Html.Partial("RatingsViews/RatingsOrderView", Model)
        </div>
    </section>
}
<div class="clearfix"></div>
<section class="invites">

    <div class="allInvites">
        @if (Model.OrderInvites.Count > 0)
        {
            <div class="invite-section-title">
                <h3 class="title-text">
                    Order invites
                </h3>
            </div>
            @Html.Partial("InviteViews/InviteListShow", Model.OrderInvites)
        }
    </div>
    <div class="clearfix"></div>

    <div class="newInvite" id="newInvite">
        @if (User.IsInRole("employer") && isNewOrder && chechOnExistInvite && !currUserIsCutomer)
        {
            @Html.Partial("InviteViews/NewInvite", new InviteViewModel { OrderId = Model.Id, Cost = Model.Budget })
        }
    </div>

</section>
@Scripts.Render("~/bundles/invitesScripts")
@Styles.Render("~/bundles/jqueryStarscss")
@Scripts.Render("~/bundles/jqueryStarsjs")

<script>
    $(document).on("click", ".invite-choice-btn", function(e) {
        e.preventDefault();
        let result = confirm("Do you want to choice this invite?");
        if (result) {
            window.location.replace($(this).attr("href"));
        }
        });

    $(document).on("click", ".btn-trash", function (e) {
        e.preventDefault();
        let result = confirm("Do you want to delete the order?");
        if (result) {
            window.location.replace($(this).attr("href"));
        }
    });

    $(".rating-input").rating();
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {
            e.preventDefault();
            $.get(this.href,
                function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
        });

        $(".add-rating").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: this.href,
                success: function (data) {
                    $('#rateDialogContent').html(data);
                    $('#modRateDialog').modal('show');
                },
                error: function () {
                    alert("Error when modal form loaded.");
                }
            });
        });
    });
</script>