
.error-page-block {
    margin: 0 auto;
    width: 100%;
}

.error-body {
    text-align: center;
    margin-top: 150px;
}

.error-body img {
    width: auto;
}

.error-body p {
    color: #272727;
    padding-bottom: 10px;
    font-size: 40px;
    line-height: 35px;
    font-weight: 600;
    margin-top: 1px;
}

.error-body p span {
    color: lightgreen;
}

.sub {
    margin-top: 30px;
}

    .sub a {
        color: #fff;
        background: #272727;
        text-decoration: none;
        padding: 13px 56px;
        font-size: 17px;
        font-weight: bold;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        -border-radius: .5em;
    }
