﻿@using JustWork.Common
@using JustWork.Logic.DTO
@model ICollection<OrderInviteDTO>
@{
    var currentUserLogin = User.Identity.Name;

    var order = Model.First().Order;

    var orderIsNew = order.OrderStateDto.Id == (int)OrderStates.New;
    OrderInviteDTO choicedInvite = null;
    if (!orderIsNew)
    {
        choicedInvite = Model.First(src => src.Employer.Id == order.Employer.Id);
        Model.Remove(choicedInvite);
    }
}

@if (choicedInvite != null)
{
    <div class="box col-md-10 col-xs-12 invite-content choised">
        @Html.Partial("InviteViews/InviteShow", choicedInvite)
    </div>
}

@foreach (var orderInvite in Model)
{
    var orderCustomerLogin = orderInvite.Order.Customer.UserDto.Login;
    var inviteAuthorLogin = orderInvite.Employer.UserDto.Login;
    <div class="invite-block">
        <div class="box col-md-10 col-xs-12 invite-content">

            <div class="inviteBlock">
                @Html.Partial("InviteViews/InviteShow", orderInvite)
                @if (currentUserLogin == inviteAuthorLogin && orderIsNew)
                {
                    <div class="float-right">
                        <a class="btn btn-common invite-delete invite-button" id="inviteDelete" val="@orderInvite.Id">Delete</a>
                    </div>
                }
                @if (currentUserLogin == orderCustomerLogin && orderIsNew)
                {
                    @Html.ActionLink("Choice", "ChoiceEmployer", "Order", new
               {
                   ordedId = orderInvite.Order.Id,
                   employId = orderInvite.Employer.Id
               }, new {@class = "btn btn-common invite-button invite-choice-btn" })
                }
            </div>
        </div>
    </div>
}