﻿@using JustWork.Website.Infastructure
@model JustWork.Logic.DTO.OrderInviteDTO

@{
    var inviteAuthorName = Model.Employer.Name;
    var inviteAuthorLogin = Model.Employer.UserDto.Login;
    var avatarPath = Model.Employer.Avatar.ImagePath;
    var currentUserLogin = User.Identity.Name;
    var orderCustomerLogin = Model.Order.Customer.UserDto.Login;
}

<div class="col-sm-3 col-xs-12">
    <h4 class="invite-athor-link">
        <a href="@Url.Action("ViewProfile", "Account", new {login = inviteAuthorLogin})">@inviteAuthorName</a>
    </h4>
    <a href="@Url.Action("ViewProfile", "Account", new {login = inviteAuthorLogin})">
        <img src="@Html.ImageOrDefaultAvatar(avatarPath)" onerror="onImageErrorHandler(this)" id="avatar" alt="avatar" class="invite-avatar img-thumbnail" />
    </a>
</div>

<div class="col-sm-9 col-xs-12 invite-description">
    @if (currentUserLogin == inviteAuthorLogin || orderCustomerLogin == currentUserLogin)
    {
        <h3 class="invite-cost">Cost: $@Model.Cost</h3><br />
    }
    <h4><b>Message: </b></h4>
    <p class="text-justify rating-message">@Model.Message </p>
</div>
