﻿@model JustWork.Model.OrdersViewModels.InviteViewModel
<div class="col-md-10 new-invite-form box">
    <div class="my-account-form">
        <h3 class="medium-title">New Invite</h3>
        @using (Html.BeginForm("Add", "Invite", new { inviteModel = Model }, FormMethod.Post, new { id = "newInviteForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.OrderId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h4>Cost</h4>
                <div class="input-icon">
                    <i class="ti-money"></i>
                    @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", placeholder = "Cost" })
                </div>
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
                <div class="form-group">
                    <h4>Description</h4>
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control new-invite-area", placeholder = "Description", rows = 4 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text - danger" })
                </div>
                <div class="form-group submit-form-group">
                    <input type="submit" value="Send" class="btn btn-common invite-button" />
                </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")