﻿
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3 class="block-title">
                    <img src="/Content/img/logo.png" class="img-responsive" alt="Footer Logo">
                </h3>
                <div class="textwidget">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3 class="block-title">Quick Links</h3>
                <ul class="menu">
                    <li><a href="@Url.Action("Index","Order")">Show all orders</a></li>
                    <li><a href="@Url.Action("Index","Work")">Show all workers</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3 class="block-title">Contacts</h3>
                <ul class="menu">
                    <li>
                        <div class="info ">
                            <h5>
                                <i class="ti-mobile"></i> Phone Numbers
                            </h5>
                            <span class="datail">Office: +375 17 292 03 27</span><br />
                            <span class="datail">Customer Support: +375 17 292 03 27 </span>
                        </div>
                    </li>
                    <li>
                        <div class="info ">
                            <h5><i class="ti-location-arrow"></i> Email Adress </h5>
                            <span class="datail">Support: support.customer@gmail.com</span>
                            <span class="datail">Technical Support: support.tech@gmail.com</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <h3 class="block-title">Follow Us</h3>
                <div class="bottom-social-icons social-icon">
                    <a class="twitter" href="https://twitter.com"><i class="ti-twitter-alt"></i></a>
                    <a class="facebook" href="https://web.facebook.com"><i class="ti-facebook"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com"><i class="ti-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>