﻿<!-- Start intro section -->
<section id="intro" class="section-intro">
    <div class="logo-menu">
        <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/Home/Index"><img src="/Content/img/logo.png" alt=""></a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            <a>
                                Account <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        @Html.ActionLink("Profile", "ViewProfile", "Account", new { login = User.Identity.Name }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Log off", "LogOff", "User")
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @Html.ActionLink("Login", "Login", "User")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Register", "Register", "User")
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a>Job <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown">
                                <li>
                                    @Html.ActionLink("Orders", "Index", "Order")
                                </li>
                                <li>
                                    @Html.ActionLink("Create order", "Create", "Order")
                                </li>
                                <li>
                                    @Html.ActionLink("Workers", "Index", "Work")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right float-right">
                        <li class="left"><a href="@Url.Action("Create","Order")"><i class="ti-pencil-alt"></i>Post A Job</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a><i class="ti-user"></i> @User.Identity.Name <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown right-dropdown">
                                    <li><a href="@Url.Action("ViewProfile", "Account", new {login = User.Identity.Name})">Profile</a></li>
                                    <li><a href="@Url.Action("LogOff", "User")"><i class="ti-power-off"> </i>Log Out</a></li>
                                </ul>
                            </li>


                        }
                        else
                        {
                            <li>
                                <a>
                                    <i class="ti-lock"></i> Sign In <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown right-dropdown">
                                    <li>@Html.ActionLink("Log In", "Login", "User")</li>
                                    <li>@Html.ActionLink("Register", "Register", "User")</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="btn-m">
                        <a href="@Url.Action("ViewProfile", "Account", new {login = User.Identity.Name})">
                            <i class="ti-user"></i> Profile
                        </a>
                    </li>
                    <li class="btn-m">
                        <a href="@Url.Action("Create", "Order")">
                            <i class="ti-pencil-alt"></i> Post A Job
                        </a>
                    </li>
                    <li class="btn-m">
                        <a href="@Url.Action("LogOff", "User")">
                            <i class="ti-power-off"></i> Log Out
                        </a>
                    </li>
                }
                else
                {
                    <li class="btn-m">
                        <a href="@Url.Action("Login", "User")"><i class="ti-pencil-alt"></i> Log in</a>
                    </li>
                    <li class="btn-m">
                        <a href="@Url.Action("Register", "User")"><i class="ti-pencil-alt"></i> Register</a>
                    </li>
                }
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Orders", "Index", "Order")
                </li>
                <li>
                    @Html.ActionLink("Workers", "Index", "Work")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>

        <!-- Off Canvas Navigation -->
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <!--- Off Canvas Side Menu -->
            <div class="close" data-toggle="offcanvas" data-target=".navmenu">
                <i class="ti-close"></i>
            </div>
            <h3 class="title-menu">All Pages</h3>
            <ul class="nav navmenu-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                <li>@Html.ActionLink("Create Order", "Create", "Order")</li>
                <li>@Html.ActionLink("Workers", "Index", "Work")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Profile", "ViewProfile", "Account", new { login = User.Identity.Name }, null)</li>
                    <li>@Html.ActionLink("Log out", "LogOff", "User")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Register", "Register", "User")</li>
                }
            </ul><!--- End Menu -->
        </div>
        <div class="tbtn wow pulse" id="menu" data-wow-iteration="infinite" data-wow-duration="500ms" data-toggle="offcanvas" data-target=".navmenu">
            <p><i class="ti-files"></i> All Pages</p>
        </div>
    </div>
    <!-- Header Section End -->


    @Html.MvcSiteMap().SiteMapPath()
    <div class="search-container" id="searchContainer" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Find the job that fits your life</h1><br><h2>More than <strong>1,000</strong> jobs are waiting you!</h2>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" id="searchContainerInput" name="search" type="text" placeholder="job title / keywords / customer name">
                                    <i class="ti-search"></i>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <div class="form-group">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select class="dropdown selectpicker" id="duration" name="filters">
                                                <option>All Durations</option>
                                                <option data-stRange="1" data-endRange="2" data-criterion="duration">One day</option>
                                                <option data-stRange="3" data-endRange="8" data-criterion="duration">One week</option>
                                                <option data-stRange="8" data-endRange="31" data-criterion="duration">One month</option>
                                                <option data-stRange="31" data-endRange="160" data-criterion="duration">Six month</option>
                                                <option data-stRange="360" data-endRange="40000" data-criterion="duration">More than year</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-6">
                                <button type="button" id="searchContainerBtn" class="btn btn-search-icon"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>