﻿@using JustWork.Website.Infastructure
@model List<JustWork.Logic.DTO.RatingDTO>
<div class="container">
    <div class="row">
        <div class="touch-slider owl-carousel owl-theme">
            @foreach (var rate in Model)
            {
                <div class="item active text-center">
                    <a href="@Url.Action("ViewProfile","Account", new {login = rate.AccountDto.UserDto.Login})">
                    <img class="img-member" onerror="onImageErrorHandler(this)" src="@Html.ImageOrDefaultAvatar(rate.AccountDto.Avatar.ImagePath)" alt="">
                    </a>
                    <div class="client-info">
                        <h2 class="client-name">@rate.AccountDto.Name
                        </h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> @rate.Message <i class="fa fa-quote-right quote-right"></i>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
