﻿@{
    ViewBag.Title = "Order Details";
}
@model JustWork.Model.OrdersViewModels.OrderIndexViewModel

@if (Model.OrderList.Count > 0)
{
    <div>
       @Html.Partial("Pagination", Model.PageInfo)
    </div>
    <div class="row"></div>
    <div class="orderBlock">
        @Html.Partial("OrderPage/OrderListShow", Model.OrderList)
    </div>
    <div>
        @Html.Partial("Pagination", Model.PageInfo)
    </div>
}
else
{
    <h4>We don't have any order.<br />@if (User.Identity.IsAuthenticated)
                                      {
                                         @Html.ActionLink("Create new order", "Create", "Order") 
                                      } </h4>
}
