﻿@model List<JustWork.Model.OrdersViewModels.OrderViewModel>

<div class="row">
    <div class="col-xs-12">
        @for (var i = 0; i < Model.Count; i++)
        {
            var order = Model[i];
            var orderLink = Url.Action("Show", "Order", new { id = order.Id });
            var orderDesc = (order.Description.Length > 150) ? order.Description.Substring(0, 150) + " ..." : order.Description;
            ViewBag.Index = i;
            <div class="job-list">

                @Html.Partial("OrderPage/OrderImage", order)
                <div class="job-list-content">
                    <h4 class="order-name-link">
                        <a href="@orderLink">@order.Name</a>
                    </h4>
                    <p class="order-short-description">@orderDesc</p>
                    <div class="job-tag">
                        <div class="pull-left">
                            <div class="meta-tag">
                                <span>
                                    <a href="@Url.Action("ViewProfile", "Account", new {login = order.Customer.UserDto.Login})">
                                        <i class="ti-user"></i>@order.Customer.Name
                                    </a>
                                </span>
                                <span><i class="ti-time"></i>Until @order.EndDate.ToLongDateString()</span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="@orderLink" class="btn btn-common btn-rm">More Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>