﻿@model JustWork.Model.OrdersViewModels.OrderViewModel
@{
    var orderLink = Url.Action("Show", "Order", new {id = Model.Id});
    var i = ViewBag.Index;
}


<div class="thumb">
    <a href="@orderLink" class="order-link-block">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" onerror="handleOrderErrorImage(this)" class="service-offers__image service-offers__image_person order-history-image" alt=""/>
        }
        else
        {
            <span class="service-offers__image service-offers__image_person service-offers__image_person_@(i + 1)" alt="">@Model.Name[0]</span>
        }
    </a>
</div>