﻿@using JustWork.Common
@model JustWork.Model.OrdersViewModels.OrderFinishViewModel

@Styles.Render("~/bundles/jqueryStarscss")
<div class="modal-content order-finish-form">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 class="medium-title">Finish order form</h4>
    </div>
    <div class="modal-body ratinf-form-block">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <h4 class="reason-title">Reason:</h4>
                <div class="order-finish-radiobutton-block">
                    @Html.RadioButton("OrderStateId", (int)OrderStates.Canceled, new { id = "orderCancel" })
                    <label for="orderCancel">Order canceled   </label>
                </div>
                <div class="order-finish-radiobutton-block">
                    @Html.RadioButton("OrderStateId", (int)OrderStates.Complete, true, new { id = "orderComplete" })
                    <label for="orderComplete">Order completed  </label>
                </div>
            </div>
           
            <div class="clearfix"></div>
            <div class="finish-rating-val">
                <label class="finish-rating-label" for="orderCustomerRating">Rating: </label>
                <div class="rating-block">
                    @Html.EditorFor(model => model.RatingValue, new
                    {
                        htmlAttributes = new
                        {
                            @class = "rating rating-input",
                            id = "orderCustomerRating",
                            data_min = "0",
                            data_max = "5",
                            data_step = "1",
                            data_size = "xs"
                        }
                    })
                </div>
                @Html.ValidationMessageFor(model => model.RatingValue, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="ratting-message-block">
                    <h4 class="ratting-message-label">Message:</h4>
                    @Html.TextAreaFor(model => model.Message, new { @class = "ratind-message-area" })
                </div>
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>

            <div class="col-xs-offset-9 col-sm-offset-10 col-xs-1 order-submit-btn-block">
                <input type="submit" value="Send" class="btn btn-common ratting-button" />
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryStarsjs")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#orderCustomerRating").rating({
        starCaptions: {
            1: 'Very bad',
            2: 'Bad',
            3: 'Normal',
            4: 'Good',
            5: 'Excelent'
        }
    });
</script>
