﻿@using JustWork.Website.Infastructure
@model JustWork.Logic.DTO.RatingDTO

<div class="opinion-content">
    <h4 class="medium-title opinion-header">Opinion about the employer: </h4>
    <div class="opinionBody">
        <div class="col-xs-12 col-sm-3 author-opinion-info">
            <h4>
                <a href="@Url.Action("ViewProfile", "Account", new {login = Model.AccountDto.UserDto.Login})">@Model.AccountDto.Name</a>
            </h4>
            <a href="@Url.Action("ViewProfile", "Account", new {login = Model.AccountDto.UserDto.Login})">
                <img src="@Html.ImageOrDefaultAvatar(Model.AccountDto.Avatar.ImagePath)" onerror="onImageErrorHandler(this)" class="rating-avatar-image img-thumbnail" alt="" />
            </a>
        </div>
        <div class="col-xs-12 col-sm-9 rating-section">
            <div class="rating-block">
                <div class="rating-value-block">
                    <h3 class="rating-label">Rate: </h3> @Html.EditorFor(model => Model.RatingValue, new
                                                    {
                                                        htmlAttributes = new
                                                        {
                                                            @class = "rating rating-input show-order-ratings",
                                                            id = "orderRating",
                                                            data_size = "xs",
                                                            disabled = "disabled",
                                                        }
                                                    })
                </div>
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <h4 class="message-label">Message: </h4>
                    <p class="rating-message">@Model.Message</p>
                }
            </div>
        </div>
    </div>
</div>