﻿@model JustWork.Model.OrdersViewModels.OrderViewModel
@{
    var currentUserLogin = User.Identity.Name;
}

@foreach (var rate in Model.RatingsDto)
{
    if (rate.AccountDto.Id == Model.Customer.Id)
    {
        <div class="col-md-10 col-xs-12 opinion-block box">
            @Html.Partial("RatingsViews/RatingShow", rate)
        </div>
    }
    else if (rate.AccountDto.Id == Model.Employer.Id)
    {
        <div class="col-md-10 col-xs-12 opinion-block box">
            @Html.Partial("RatingsViews/RatingShow", rate)
        </div>
    }
}

@if (Model.RatingsDto.Count(model => Model.Employer.UserDto.Login == model.AccountDto.UserDto.Login) == 0 )
{
    <div class="col-md-10 col-xs-12 opinion-block box">
        <h4 class="medium-title">Opinion about the customer: </h4>
        @if (currentUserLogin != Model.Employer.UserDto.Login)
        {
            <p class="rating-message rating-not-found-message">
                Employer: @Html.ActionLink(Model.Employer.Name,
                              "ViewProfile", "Account", new { login = Model.Employer.UserDto.Login }, null)
                didn't add comment about order.
            </p>
        }
        else
        {
            <div class="add-rating-link">
                @Html.ActionLink("Add rating", "AddRating", "Order", new { orderId = Model.Id }, new { @class = "add-rating btn btn-common" })
            </div>
            <div id="modRateDialog" class="modal fade">
                <div id="rateDialogContent" class="modal-dialog">
                </div>
            </div>
        }

    </div>
}
