﻿@model JustWork.Model.UserModels.ConcactViewModel   

<style>
    #google-map, body, html {
        padding: 0;
        height: 460px;
    }
</style>
@{
    ViewBag.Title = "Contact form";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHo_WtZ2nIYCgCLf7sINZaqcrpqSDio9o&language=en"></script>
<script src="/Scripts/ContactPage.js"></script>

<div id="google-map"></div>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="medium-title">
                    Contact Us
                </h2>
                <div class="information">
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="info">
                            <h3>Address</h3>
                            <span class="datail">Office: SaM Solutions Belarus
                                Filimonova st., 15
                                Minsk, 220037, Belarus</span>
                            <span class="datail">Office: SaM Solutions Belarus
                                Filimonova st., 19
                                Minsk, 220037, Belarus</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="info">
                            <h3>Phone Numbers</h3>
                            <span class="datail">Office: +375 17 292 03 27</span>
                            <span class="datail">Customer Support: +375 17 292 03 27 </span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="ti-location-arrow"></i>
                        </div>
                        <div class="info">
                            <h3>Email Address</h3>
                            <span class="datail">Customer
                                Support: support.customer@gmail.com</span>
                            <span class="datail">Technical Support: support.tech@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
 
                <form id="formForContacts" action="@Url.Action("Contact")" method="post" class="contact-form"  data-toggle="validator">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full Name" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.UserAdress, new { @class= "form-control", placeholder = "mail@sitename.com" })
                                        @Html.ValidationMessageFor(model => model.UserAdress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Message, 11, 6, new { @class= "form-control", placeholder = "Message" })
                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" id="submit" class="btn btn-common">Send Us</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
 