﻿@model JustWork.Model.HomePageViewModel
@{
    ViewBag.Title = "Home page";
}

<section class="find-job section">
    <div class="container-fluid">
        <h2 class="section-title">Hot Orders</h2>
        @Html.Partial("OrderPage/OrderListShow", Model.OrderViewModels)
    </div>
</section>

<section id="testimonial" class="section">
    @if (Model.RatingDtos.Count > 0)
    {
        @Html.Partial("MainPage/HomePageRatings", Model.RatingDtos)
    }
</section>
<!-- blog Section End -->
<h2 class="counter-section-title">Statistics</h2>
<section id="counter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-user"></i>
                    </div>
                    <div class="desc">
                        <h2>Customers</h2>
                        <h1 class="counter" data-count="@Model.CustomerCount">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-briefcase"></i>
                    </div>
                    <div class="desc">
                        <h2>Orders</h2>
                        <h1 class="counter" data-count="@Model.OrdersCount">0</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-user"></i>
                    </div>
                    <div class="desc">
                        <h2>Employers</h2>
                        <h1 class="counter" data-count="@Model.EmployersCount">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-write"></i>
                    </div>
                    <div class="desc">
                        <h2>Feedbacks</h2>
                        <h1 class="counter" data-count="@Model.RatingsCount">0</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("#searchContainer").show();

    $("#searchContainerBtn").click(function () {
        SearchOrders();
    });

    $("#searchContainerInput").keypress(function(e) {
        if (e.keyCode === 13) {
            SearchOrders();
        }
    });

    function SearchOrders() {
        const searchVal = $("#searchContainerInput").val();
        let searchQuery = "";
        if (searchVal) {
            searchQuery = "?search=" + searchVal;
        }
        const select = $("#duration").find("option:selected");
        const maxVal = select.attr("data-endRange");
        const minVal = select.attr("data-stRange");
        const criterion = select.attr("data-criterion");
        var criterionQuery = "";
        if (criterion) {
            if (searchVal) {
                criterionQuery = "&criterion=" + criterion + "&minValue=" + minVal + "&maxValue=" + maxVal;
            } else {
                criterionQuery = "?criterion=" + criterion + "&minValue=" + minVal + "&maxValue=" + maxVal;
            }
        }
        $(location).attr('href', '/Order/' + searchQuery + criterionQuery);
    }

</script>