﻿@using JustWork.Website.Infastructure
@model JustWork.Model.UserModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    var isNotOwnerUser = User.Identity.Name != Model.UserDto.Login;
    var disabledString = (isNotOwnerUser) ? "data-disabled=\"true\"" : string.Empty;
}
@Styles.Render("~/bundles/datePickerCss")
<h3><b class="userLogin">@Model.UserDto.Login</b> profile</h3>
@Html.HiddenFor(model => model.AccountId)
<div class="profile-main-block thumbnail">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 image-part-main-block">
            <div class="avatar-block">
                <img alt="Avatar" id="avatar" src="@Html.ImageOrDefaultAvatar(Model.Avatar.ImagePath)"
                     class="img-circle avatar img-thumbnail" onerror="onImageErrorHandler(this)" />
                <div class="image-profile-block">
                    @if (Model.UserDto.Login == User.Identity.Name)
                    {
                        if (Model.Avatar.ImagePath != null)
                        {
                            <a class="btn btn-common btn-image-remove pull-right" id="imageDelteBtn">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        }
                    }
                    @if (Model.UserDto.Login == User.Identity.Name)
                    {
                        <a id="newImage" class="btn btn-common btn-image-refresh pull-left">
                            <span class="glyphicon glyphicon-refresh"> </span> Upload image
                        </a>
                    }
                </div>
            </div>
            <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content avatar-modal-content">
                        <div class="modal-body image-fullscreen-modal-body">
                            <img src="" class="enlargeImageModalSource" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div id="imageSaveBlock" class="image-save-block" style="display: none">
                <div class="form-group">
                    <div class="input-group file-upload-input-group">
                        <span class="input-group-btn file-upload-button">
                            <span class="btn btn-common btn-file btn-file-upload">
                                Browse <input type="file" id="imageFileChoice" name="image" accept="image/*">
                            </span>
                        </span>
                        <input type="text" class="form-control file-upload-textbox" readonly>
                    </div>
                    <div class="clearfix"></div>
                    <input type="button" class="btn btn-common cancel-image-button" id="cancelSaveBtn" value="Cancel" />
                    <input type="button" class="btn btn-common save-image-button" id="saveImageBtn" value="Save" />

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 profile-body-block">
            <div class="pull-right account-type-block">
                <b>Type: @Model.UserDto.RoleDto.Title.ToUpper()</b>
            </div>
            <div class="nameField">
                <label for="nameField">Name: </label>
                <a href="#" @disabledString data-pk="@Model.AccountId" id="nameField">@Model.Name</a>

            </div>
            <div class="email-block">
                <label for="emailAdress">Email: </label>

                <span @disabledString data-pk="@Model.AccountId" id="emailAdress">@Model.UserDto.Email</span>

                @if (!Model.UserDto.ConfirmEmail && isNotOwnerUser)
                {
                    <div>
                        <span class="text-danger">Email is not confirmed</span>
                    </div>
                }
                @if (!isNotOwnerUser)
                {
                    if (Model.UserDto.ConfirmEmail)
                    {
                        <a href="@Url.Action("EditEmail", "User")" class="edit-email-button btn-common btn-sm"><i class="ti-pencil"></i></a>
                    }
                    else
                    {
                        <div>
                            <a class="confirm-email-link" href="@Url.Action("ConfirmInformation","User")" data-toggle="tooltip" title="Click if you want to solve this problem.">Your email unconfirmed <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                        </div>
                    }
                }
            </div>
            <div class="birthdate-block">
                <label for="dateOfBirth">Date of birth: </label>
                <a href="#" @disabledString id="dateOfBirth" edit-disabled="true" data-pk="@Model.AccountId">@Model.BirthDate.Date.ToString("MM.dd.yyyy")</a>
            </div>
            <div class="additional-info-block">
                <span class="additinal-info-label">About myself</span><br />
                <a id="aboutMyself" href="#" @disabledString class="additinal-info-area-link" data-type="textarea" data-pk="@Model.AccountId">@Model.AdditionalInfo</a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="panel-group" id="newOrdersAccordion" data-usrId="@Model.AccountId" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#newOrdersAccordion" href="#newordersCollapse" aria-expanded="true" aria-controls="newOrdersCollapse">
                    New orders (@Model.NewOrdersCount)
                </a>
            </h4>
        </div>
        <div id="newordersCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body newOrdersBody">
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="inProgressOrdersAccordion" data-usrId="@Model.AccountId" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" class="collapsed" data-parent="#inProgressOrdersAccordion" href="#inProgressOrdersCollapse" aria-expanded="false" aria-controls="inProgressCollapse">
                    In progress (@Model.InProgressOrdersCount)
                </a>
            </h4>
        </div>
        <div id="inProgressOrdersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body inProgressOrdersBody">
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="completeOrdersAccordion" data-usrId="@Model.AccountId" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" class="collapsed" data-parent="#completeOrdersAccordion" href="#completeOrdersCollapse" aria-expanded="false" aria-controls="completeCollapse">
                    Completed (@Model.CompleteOrdersCount)
                </a>
            </h4>
        </div>
        <div id="completeOrdersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body completeOrdersBody">
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="cancelOrdersAccordion" data-usrId="@Model.AccountId" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" class="collapsed" data-parent="#cancelOrdersAccordion" href="#cancelOrdersCollapse" aria-expanded="false" aria-controls="cancelCollapse">
                    Cancelled (@Model.CancelOrderCount)
                </a>
            </h4>
        </div>
        <div id="cancelOrdersCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body cancelOrdersBody">
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datePickerJs")
@Scripts.Render("~/bundles/profileScripts")
@Styles.Render("~/bundles/xeditablecss")
@Scripts.Render("~/bundles/xeditablejs")
