﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@if (Model.Count() > 1)
{
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">@Model.Nodes.Last().Title</h2>
                        <ol class="breadcrumb">
                            @foreach (var node in Model)
                            {
                                if (Model.First() == node)
                                {
                                    <a href="@node.Url">
                                        <i class="ti-home"></i>
                                        @node.Title</a>
                                }
                                else
                                {
                                    @Html.DisplayFor(m => node);
                                }
                                if (node != Model.Last())
                                {
                                    <text> / </text>
                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}