﻿@using JustWork.Website.Infastructure
@model JustWork.Model.WorkersViewModel   
@{
    ViewBag.ListName = "Workers";
}


@Html.Partial("Pagination", Model.PageInfoViewModel)
@if (!Model.Workers.Any())
{
    <h1>We haven't any employers now. You will become the first.</h1>
}
else
{
    foreach (var item in Model.Workers)
    {
        var accountLink = Url.Action("ViewProfile", "Account", new { id = item.Id });
        var addInfo = (string.IsNullOrEmpty(item.AdditionalInfo))? "Didn't set information.":item.AdditionalInfo;
        var orderDesc = (addInfo.Length > 150) ? addInfo.Substring(0, 150) + " ..." : addInfo;
        <div class="job-list">
            <div class="thumb">
                <a href="@accountLink" class="order-link-block">
                    <img class="worker-list-avatar" onerror="onImageErrorHandler(this)" src="@Html.ImageOrDefaultAvatar(item.Avatar.ImagePath)" alt="" />
                </a>
            </div>
            <div class="job-list-content">
                <h4 class="order-name-link">
                    <a href="@accountLink">@item.Name</a>
                </h4>
                <p class="order-short-description">@orderDesc</p>

                <div class="pull-right">
                    <a href="@accountLink" class="btn btn-common btn-rm">More Detail</a>
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.Partial("Pagination", Model.PageInfoViewModel)
</div>


<script>
    $(document).on("click", ".commonSortBtn", function () {
        let listSelector = $(".worker-list");
        var sortBtnVal = $(this).attr("data-pagesize");
        $.ajax({
            type: "POST",
            url: "/Work/SearchWorkers",
            data: {
                page: sortBtnVal
            },
            success: function (data) {
                listSelector.html(data);
            },
            error: function () {
                alert("Error when the request is processed");
            }
        });
    })
</script>