﻿
@{
    ViewBag.Title = "Acces Denied";
}
@Styles.Render("~/Content/errorPages")

<div class="wrapper row2">
    <div id="container" class="clearfix">
        <section id="fof" class="clearfix">
            <div class="positioned">
                <div class="hgroup">
                    <h1>Congratulations</h1>
                    <h2>You Found Our Access Denied Error Page</h2>
                </div>
                <p>
                    Joke Aside<br>
                    You don't have permission for this action. 
                    @Html.ActionLink("Home page", "Index", "Home")
                </p>
            </div>
        </section>
    </div>
</div>

