﻿
@{
    ViewBag.Title = "HttpNotFound";
}
@Styles.Render("~/Content/errorPages")

<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

<div class="error-page-block">
    <div class="error-body">
        <p>OOPS! - Could not Find it</p>
        <img src="/Images/404.png"/>
        <div class="sub">
            <p><a href="@Url.Action("Index","Home")" class="btn btn-common">Back </a></p>
        </div>
    </div>
</div>	
