﻿
@{
    ViewBag.Title = "Internal Server Error";
}

@Styles.Render("~/Content/errorPages")

<div class="wrapper row2">
    <div id="container" class="clearfix">
        <section id="fof" class="clearfix">
            <div class="positioned">
                <div class="hgroup">
                    <h1>Congratulations</h1>
                    <h2>You Found Our 500 Error Page</h2>
                </div>
                <p>
                    Joke Aside<br>
                    The server cannot responding on your request now.<br/>
                    Try later.
                </p>
                <div id="respond">
                    @Html.ActionLink("Home page", "Index", "Home")
                </div>
            </div>
        </section>
    </div>
</div>

