﻿
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/mainPageCss")
    @Styles.Render("~/Content/errorPages")
    <title>Acees denied error page</title>
</head>
<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

<div class="error-page-block">
    <div class="error-body access-denied-error">
        <div class="message-block">
            <p>OOPS! - Access Denied Error Page. </p>
            <p>You don't have permission for this action.</p>
        </div>

        <img src="/Images/403-01.png" alt="Error logo" />
        <div class="sub">
            <p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-common">Back </a>
            </p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/mainPageJs")



