﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/mainPageCss")
    @Scripts.Render("~/bundles/commonScripts")
</head>
<body>
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
        </div>
    </div>
</div>
<div class="header">
    @Html.Partial("MainPage/Header")
</div>
<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</div>
<footer>
    <section class="footer-Content">
        @Html.Partial("MainPage/Footer")
    </section>

    <!-- Footer area End -->
    <!-- Copyright Start -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>All Rights reserved &copy; 2017 - Vadim Birkos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="ti-arrow-up"></i>
    </a>


</footer>
@RenderSection("scripts", required: false)
</body>
</html>
@Scripts.Render("~/bundles/mainPageJs")
