﻿@using JustWork.Common
@{
    var newOrder = (int) OrderStates.New;
    var inProgress = (int) OrderStates.InProgress;
    var complete = (int) OrderStates.Complete;
    var cancel = (int) OrderStates.Canceled;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" id="searchInput" class="form-control" maxlength="100" placeholder="Search">
                    <span class="input-group-addon search-filter">
                        <button type="submit" class="search-button-submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-xs-12">
            <div class="funkyradio">
                <h4 class="text-center">Order state</h4>
                <div class="funkyradio-default">
                    <input type="checkbox" id="stateCheckBox1" checked="checked" class="filterCheckbox" data-stRange="@newOrder" data-criterion="state" />
                    <label for="stateCheckBox1">
                        New
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="stateCheckBox2" class="filterCheckbox " data-stRange="@inProgress" data-criterion="state" />
                    <label for="stateCheckBox2">
                        In progress
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="stateCheckBox3" class="filterCheckbox checkbox-inline" data-stRange="@complete" data-criterion="state" />
                    <label for="stateCheckBox3">
                        Completed
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="stateCheckBox4" class="filterCheckbox checkbox-inline" data-stRange="@cancel"  data-criterion="state" />
                    <label for="stateCheckBox4">
                        Canceled
                    </label>
                </div>
            </div>
            <hr />
            <div class="funkyradio">
                <h4 class="text-center">Order duration</h4>
                <div class="funkyradio-default">
                    <input type="checkbox" id="durationCheckBox1" class="filterCheckbox" data-stRange="1" data-endRange="4" data-criterion="duration"/>
                    <label for="durationCheckBox1">From 1 to 4 days</label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="durationCheckBox2" class="filterCheckbox" data-stRange="4" data-endRange="8" data-criterion="duration"/>
                    <label for="durationCheckBox2">From 4 to 8 days</label>
                </div>
                <input type="checkbox" id="durationCheckBox3" class="filterCheckbox" data-stRange="8" data-endRange="31" data-criterion="duration"/>
                <label for="durationCheckBox3">From 8 to 31 days</label>
                <div class="funkyradio-default">
                    <input type="checkbox" id="durationCheckBox4" class="filterCheckbox" data-stRange="31" data-endRange="160" data-criterion="duration"/>
                    <label for="durationCheckBox4">From 1 to 5 Months</label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="durationCheckBox5" class="filterCheckbox" data-stRange="360" data-endRange="40000" data-criterion="duration"/>
                    <label for="durationCheckBox5">More than year</label>
                </div>
            </div>
            <hr/>
            <div class="funkyradio">
                <h4 class="text-center">Order cost</h4>
                <div class="funkyradio-default">
                    <input type="checkbox" id="costCheckBox1" class="filterCheckbox" data-stRange="1" data-endRange="50" data-criterion="cost"/>
                    <label for="costCheckBox1">
                        Less than $50
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="costCheckBox2" class="filterCheckbox " data-stRange="51" data-endRange="100" data-criterion="cost"/>
                    <label for="costCheckBox2">
                        from $50 to $100
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="costCheckBox3" class="filterCheckbox checkbox-inline" data-stRange="101" data-endRange="500" data-criterion="cost"/>
                    <label for="costCheckBox3">
                        from $100 to $500
                    </label>
                </div>
                <div class="funkyradio-default">
                    <input type="checkbox" id="costCheckBox4" class="filterCheckbox checkbox-inline" data-stRange="501" data-endRange="1000001" data-criterion="cost"/>
                    <label for="costCheckBox4">
                        More than $500
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>