﻿@using JustWork.Website.Infastructure
@model JustWork.Model.PageInfoViewModel

<div class="showing pull-left row">
    <a href="#">
        Showing <span>@Model.PageNumber-@Model.TotalPages</span>
        Of @Model.TotalItems @ViewBag.ListName
    </a>
</div>
<ul class="pagination pull-right">
    @Html.PageLinks(Model)
</ul>


