﻿@model JustWork.Model.OrdersViewModels.OrderIndexViewModel

@if (Model.OrderList.Count > 0)
{
    for (var i = 0; i < Model.OrderList.Count; i++)
    {
        var order = Model.OrderList[i];
        ViewBag.Index = i;
        <div class="job-list">
            <div class="col-xs-12  orderHistoryElement">
                <div class="pull-left">
                    <div class="thumb image-history-block">
                        @Html.Partial("OrderPage/OrderImage", order)
                    </div>
                    <a href="@Url.Action("Show", "Order", new {id = order.Id})" class="pull-left order-history-name">@order.Name</a>
                </div>
                <span class="pull-right">
                    <b>Cost: $@order.Budget </b>
                </span>

                <div class="clearfix"></div>

                <div class="job-tag">
                    <div class="meta-tag">
                        <span class="pull-left">
                            <i class="deadline-date-history fa fa-calendar-check-o" aria-hidden="true"></i>
                            @Html.DisplayFor(item => order.EndDate)
                            <i class="invites-count-history fa fa-reply-all" aria-hidden="true"></i> @order.OrderInvites.Count order invite(s)

                            <a href="@Url.Action("ViewProfile", "Account", new {login = order.Employer.UserDto.Login})" class="employer-link-history">
                                <i class="fa fa-user-o" aria-hidden="true"></i> @order.Employer.Name
                            </a>

                            <i class="fa fa-star-o rating-history-tag" aria-hidden="true"></i>@order.RatingsDto.Count rating(s)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
    {
                <a class="loadMoreCompleteOrderHistory btn btn-common invite-button" data-currPage="@(Model.PageInfo.PageNumber+1)">Load more items</a>
            }
        }
        else
        {
            <div class="item orderHistoryElement">
                <div class="col-md-12">
                    <h4>User hasn't any orders</h4>
                </div>
            </div>
        }
