﻿@model JustWork.Model.OrdersViewModels.OrderIndexViewModel


@if (Model.OrderList.Count > 0)
{
    for (var i = 0; i < Model.OrderList.Count; i++)
    {
        var order = Model.OrderList[i];
        ViewBag.Index = i;
        <div class="job-list">
            <div class="col-xs-12  orderHistoryElement">
                <div class="pull-left">
                    <div class="thumb image-history-block">
                        @Html.Partial("OrderPage/OrderImage", order)
                    </div>
                    <a href="@Url.Action("Show", "Order", new {id = order.Id})" class="pull-left order-history-name">@order.Name</a>
                </div>
                <span class="pull-right">
                    <b>Cost: $@order.Budget </b>
                </span>

                <div class="clearfix"></div>

                <div class="job-tag">
                    <div class="meta-tag">
                        <div class="pull-left">
                            <span class="date-in-order-order-history">
                                <div class="deadline-element-block">
                                    <i class="deadline-date-history fa fa-calendar-check-o" aria-hidden="true"></i>
                                    @Html.DisplayFor(item => order.EndDate)
                                </div>
                                <div class="invites-count-element-block">
                                    <i class="invites-count-history fa fa-reply-all" aria-hidden="true"></i> @order.OrderInvites.Count order invite(s)
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
    {
        <a class="loadMoreNewOrderHistory btn btn-common invite-button" data-currPage="@(Model.PageInfo.PageNumber + 1)">Load more items</a>
    }
}
else
{
    <div class="item orderHistoryElement">
        <div class="col-md-12">
            <h4>User hasn't any orders</h4>
        </div>
    </div>

}